// -- CLASSES

.text-button
{
    background: url( "/static/image/admin/text_icon.svg" ) no-repeat center center / contain;
}

.language-button
{
    background: url( "/static/image/admin/language_icon.svg" ) no-repeat center center / contain;
}

.page-type-button
{
    background: url( "/static/image/admin/page_type_icon.svg" ) no-repeat center center / contain;
}

.home-page-button
{
    background: url( "/static/image/admin/home_page_icon.svg" ) no-repeat center center / contain;
}

.article-page-button
{
    background: url( "/static/image/admin/article_page_icon.svg" ) no-repeat center center / contain;
}

.articles-page-button
{
    background: url( "/static/image/admin/articles_page_icon.svg" ) no-repeat center center / contain;
}

.cookie-policy-page-button
{
    background: url( "/static/image/admin/cookie_policy_page_icon.svg" ) no-repeat center center / contain;
}

.legal-notice-page-button
{
    background: url( "/static/image/admin/legal_notice_page_icon.svg" ) no-repeat center center / contain;
}

.contact-page-button
{
    background: url( "/static/image/admin/contact_page_icon.svg" ) no-repeat center center / contain;
}

.block-category-button
{
    background: url( "/static/image/admin/block_category_icon.svg" ) no-repeat center center / contain;
}

.block-type-button
{
    background: url( "/static/image/admin/block_type_icon.svg" ) no-repeat center center / contain;
}

.text-block-button
{
    background: url( "/static/image/admin/text_block_icon.svg" ) no-repeat center center / contain;
}

.image-block-button
{
    background: url( "/static/image/admin/image_block_icon.svg" ) no-repeat center center / contain;
}

.text-and-image-block-button
{
    background: url( "/static/image/admin/text_and_image_block_icon.svg" ) no-repeat center center / contain;
}

.contact-button
{
    background: url( "/static/image/admin/contact_icon.svg" ) no-repeat center center / contain;
}

.user-button
{
    background: url( "/static/image/admin/user_icon.svg" ) no-repeat center center / contain;
}
