// -- CLASSES

.text-button
{
    background: url( "/static/image/admin/text_icon.svg" ) no-repeat center center / contain;
}

.block-type-button
{
    background: url( "/static/image/admin/block_type_icon.svg" ) no-repeat center center / contain;
}

.block-button
{
    background: url( "/static/image/admin/block_icon.svg" ) no-repeat center center / contain;
}

.block-sub-block-button
{
    background: url( "/static/image/admin/block_sub_block_icon.svg" ) no-repeat center center / contain;
}

.page-type-button
{
    background: url( "/static/image/admin/page_type_icon.svg" ) no-repeat center center / contain;
}

.page-button
{
    background: url( "/static/image/admin/page_icon.svg" ) no-repeat center center / contain;
}

.page-content-block-button
{
    background: url( "/static/image/admin/page_content_block_icon.svg" ) no-repeat center center / contain;
}

.page-sub-page-button
{
    background: url( "/static/image/admin/page_sub_page_icon.svg" ) no-repeat center center / contain;
}

.contact-button
{
    background: url( "/static/image/admin/contact_icon.svg" ) no-repeat center center / contain;
}

.user-button
{
    background: url( "/static/image/admin/user_icon.svg" ) no-repeat center center / contain;
}
