Options -Indexes
RewriteEngine On

RewriteRule ^home/?$ / [R=302,L]
RewriteRule ^en/home/?$ /en [R=302,L]
RewriteRule ^fr/home/?$ /fr [R=302,L]
RewriteRule ^de/home/?$ /de [R=302,L]
RewriteRule ^ja/home/?$ /ja [R=302,L]

RewriteCond %{HTTP_HOST} !^\d+\.\d+\.\d+\.\d+$ [NC]
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteCond %{HTTP_HOST} !=localhost
RewriteRule ^ https://www.%{HTTP_HOST}%{REQUEST_URI} [R=307,L,NE,QSA]

RewriteCond %{HTTP_HOST} !^\d+\.\d+\.\d+\.\d+$ [NC]
RewriteCond %{HTTP_HOST} !=localhost
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=307,L,NE,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} \.html$ [NC]
RewriteRule ^.*$ / [R=302,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^.*\.(avif|css|gif|html|ico|jpg|js|json|mp4|pdf|png|svg|txt|webm|webmanifest|webp|xml|zip)$ [NC]
RewriteRule ^(.*)$ index.php

AddType image/avif .avif
