@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  outline: 0 none;
  border: 0 none;
  padding: 0;
}
body {
  margin: 0;
  line-height: 1.5;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 400;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
hr {
  margin: 1rem 0;
  border: 0;
  opacity: 0.25;
  color: inherit;
}
hr:not([size]) {
  height: 1px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  font-weight: 500;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}
address {
  margin-bottom: 1rem;
  line-height: inherit;
  font-style: normal;
}
ol,
ul {
  padding-left: 2rem;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}
dt {
  font-weight: 700;
}
dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}
blockquote {
  margin: 0 0 1rem;
}
b,
strong {
  font-weight: bolder;
}
small {
  font-size: 0.875em;
}
sub,
sup {
  position: relative;
  line-height: 0;
  font-size: 0.75em;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:not([href]),
a:not([href]):hover {
  text-decoration: none;
  color: inherit;
}
pre,
code,
kbd,
samp {
  font-size: 1em;
}
pre {
  overflow: auto;
  margin-top: 0;
  margin-bottom: 1rem;
  display: block;
  font-size: 0.875em;
}
pre code {
  font-size: inherit;
  word-break: normal;
  color: inherit;
}
code {
  font-size: 0.875em;
  word-wrap: break-word;
}
a > code {
  color: inherit;
}
kbd {
  border-radius: 0.2rem;
  padding: 0.2rem 0.4rem;
  font-size: 0.875em;
}
kbd kbd {
  padding: 0;
  font-size: 1em;
  font-weight: 700;
}
figure {
  margin: 0 0 1rem;
}
img {
  vertical-align: middle;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
}
caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  caption-side: bottom;
  text-align: left;
}
th {
  text-align: inherit;
}
label {
  margin-bottom: 0.5rem;
  display: inline-block;
}
button {
  border-radius: 0;
}
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
select {
  word-wrap: normal;
}
[list]::-webkit-calendar-picker-indicator {
  display: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: textfield;
}
textarea {
  overflow: auto;
  resize: vertical;
}
fieldset {
  margin: 0;
  min-width: 0;
  border: 0;
  padding: 0;
}
legend {
  margin-bottom: 0.5rem;
  width: 100%;
  padding: 0;
  float: left;
  line-height: inherit;
  font-size: 1.5rem;
  white-space: normal;
  color: inherit;
}
mark {
  padding: 0.2em;
}
progress {
  vertical-align: baseline;
}
::-webkit-datetime-edit {
  overflow: visible;
  line-height: 0;
}
[type="search"] {
  -webkit-appearance: textfield;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-color-swatch-wrapper {
  padding: 0;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
output {
  display: inline-block;
}
summary {
  display: list-item;
  cursor: pointer;
}
template {
  display: none;
}
main {
  display: block;
}
[hidden] {
  display: none !important;
}
select:-moz-focusring {
  text-shadow: 0 0 0 #000;
  color: transparent;
}
select {
  background: transparent;
}
a:focus,
button:focus,
input:focus,
select:focus {
  outline: 0;
}
a:active,
a:hover {
  outline: 0;
}
html {
  background: #fff;
}
body {
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: inherit;
  cursor: pointer;
}
a:hover,
input:hover {
  text-decoration: none;
}
a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: none;
}
.extended-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.justify-self-start {
  justify-self: flex-start;
}
.justify-self-end {
  justify-self: flex-end;
}
.sortable-grid-column {
  user-select: none;
  cursor: pointer;
}
.sortable-grid-column.order-is-ascending:after {
  position: absolute;
  content: "\00a0\25B2";
}
.sortable-grid-column.order-is-descending:after {
  position: absolute;
  content: "\00a0\25BC";
}
.margin-top-1rem {
  margin-top: 1rem !important;
}
.margin-top-2rem {
  margin-top: 2rem !important;
}
.margin-bottom-1rem {
  margin-bottom: 1rem !important;
}
.margin-bottom-2rem {
  margin-bottom: 2rem !important;
}
.multilingual-input-translation + .multilingual-input-translation {
  margin-top: 0.3125rem;
}
.page-container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
}
.page-menu {
  width: 4.5rem;
  padding: 0.9375rem;
  display: flex;
  grid-area: 1/1/span 2;
  background-image: linear-gradient(to right, #29323c 0%, #485563 100%);
}
.page-menu-item {
  margin-top: 0.625rem;
}
.page-menu-title {
  margin-left: 0.3125rem;
  font-size: 1.25rem;
  color: #fff;
}
.page-title {
  padding: 0.9375rem;
  grid-area: 1/2;
  background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
  text-align: center;
}
.page-title-content {
  font-size: 1.75rem;
  color: #fff;
}
.page-body {
  padding: 0.9375rem;
  grid-area: 2/2;
  background-image: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
}
.page-body-content {
  color: #222;
}
.page-section {
  border-radius: 0.625rem;
  padding: 0.9375rem;
  background-color: #fff;
}
.page-section + .page-section {
  margin-top: 0.9375rem;
}
.form-container {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0.9375rem;
  justify-content: center;
  align-items: flex-start;
}
.form-container-small {
  max-width: 30rem;
}
.form-extended {
  grid-column: 1/-1;
}
.form-field-error {
  outline: solid #f00 1px;
}
.form-input,
.form-select {
  min-height: 2rem;
  width: 100%;
  border: 0.0625rem solid #ccc;
  border-radius: 0.3125rem;
  padding: 0.3125rem;
  display: block;
}
.form-textarea {
  overflow: hidden;
  height: 2.25rem;
  min-height: 2.25rem;
  width: 100%;
  border: 0.0625rem solid #ccc;
  border-radius: 0.3125rem;
  padding: 0.3125rem;
  display: block;
}
.form-upload-container {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}
.form-upload-image,
.form-upload-video {
  height: 12.5rem;
  width: auto;
  max-width: 80%;
  border-radius: 0.3125rem;
}
.form-upload-icon {
  margin-left: 0.25rem;
  height: 1rem;
}
.form-upload-file {
  overflow: hidden;
  height: 0;
  width: 0;
}
.form-field-name {
  padding-top: 0.3125rem;
  font-weight: bold;
}
.form-column-name {
  font-weight: bold;
}
.form-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-button {
  height: 1.5rem;
  width: 1.5rem;
  border: none;
  display: inline-block;
}
.form-button + .form-button {
  margin-left: 0.3125rem;
}
.form-button-large {
  height: 2.5rem;
  width: 2.5rem;
}
.form-button-tooltip {
  position: absolute;
  display: none;
}
.form-button:hover + .form-button-tooltip {
  margin-left: 0.9375rem;
  border-top-right-radius: 0.3125rem;
  border-bottom-right-radius: 0.3125rem;
  padding: 0.5rem 0.9375rem 0.5rem 0.625rem;
  display: inline-block;
  background-color: #475462;
  color: #fff;
}
.form-title {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.form-toolbar {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.card-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.9375rem;
}
@media (min-width: 60em) {
  .card-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 90em) {
  .card-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 120em) {
  .card-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.card {
  border-radius: 0.625rem;
  padding: 0.9375rem;
  background-color: #fff;
}
.filter-container {
  position: relative;
  width: 100%;
}
.filter-input {
  width: 100%;
  border: 0.0625rem solid #ccc;
  border: 0.0625rem solid #ccc;
  border-radius: 0.625rem;
  padding: 0.3125rem 0.9375rem;
  background-color: #fff;
}
.filter-button {
  position: absolute;
  right: 0.125rem;
  height: 100%;
  padding: 0.3125rem 0.9375rem;
  cursor: pointer;
}
.disconnect-button {
  background: url("/static/image/admin/disconnect_icon.svg") no-repeat center center/contain;
}
.connect-button {
  background: url("/static/image/admin/connect_icon.svg") no-repeat center center/contain;
}
.view-button {
  background: url("/static/image/admin/view_icon.svg") no-repeat center center/contain;
}
.edit-button {
  background: url("/static/image/admin/edit_icon.svg") no-repeat center center/contain;
}
.remove-button {
  background: url("/static/image/admin/remove_icon.svg") no-repeat center center/contain;
}
.add-button {
  background: url("/static/image/admin/add_icon.svg") no-repeat center center/contain;
}
.cancel-button {
  background: url("/static/image/admin/cancel_icon.svg") no-repeat center center/contain;
}
.apply-button {
  background: url("/static/image/admin/apply_icon.svg") no-repeat center center/contain;
}
.table-container {
  align-items: start;
}
.debug-outline * {
  outline: 0.00625rem solid rgba(255,0,0,0.5);
}
.text-button {
  background: url("/static/image/admin/text_icon.svg") no-repeat center center/contain;
}
.article-button {
  background: url("/static/image/admin/article_icon.svg") no-repeat center center/contain;
}
.contact-button {
  background: url("/static/image/admin/contact_icon.svg") no-repeat center center/contain;
}
.user-button {
  background: url("/static/image/admin/user_icon.svg") no-repeat center center/contain;
}
.text-table {
  grid-template-columns: repeat(3, auto);
}
.article-table {
  grid-template-columns: repeat(9, auto);
}
.contact-table {
  grid-template-columns: repeat(8, auto);
}
.user-table {
  grid-template-columns: repeat(5, auto);
}
