@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  outline: 0 none;
  border: 0 none;
  padding: 0;
}
body {
  margin: 0;
  line-height: 1.5;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 400;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
hr {
  margin: 1rem 0;
  border: 0;
  opacity: 0.25;
  color: inherit;
}
hr:not([size]) {
  height: 1px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  font-weight: 500;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}
address {
  margin-bottom: 1rem;
  line-height: inherit;
  font-style: normal;
}
ol,
ul {
  padding-left: 2rem;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}
dt {
  font-weight: 700;
}
dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}
blockquote {
  margin: 0 0 1rem;
}
b,
strong {
  font-weight: bolder;
}
small {
  font-size: 0.875em;
}
sub,
sup {
  position: relative;
  line-height: 0;
  font-size: 0.75em;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:not([href]),
a:not([href]):hover {
  text-decoration: none;
  color: inherit;
}
pre,
code,
kbd,
samp {
  font-size: 1em;
}
pre {
  overflow: auto;
  margin-top: 0;
  margin-bottom: 1rem;
  display: block;
  font-size: 0.875em;
}
pre code {
  font-size: inherit;
  word-break: normal;
  color: inherit;
}
code {
  font-size: 0.875em;
  word-wrap: break-word;
}
a > code {
  color: inherit;
}
kbd {
  border-radius: 0.2rem;
  padding: 0.2rem 0.4rem;
  font-size: 0.875em;
}
kbd kbd {
  padding: 0;
  font-size: 1em;
  font-weight: 700;
}
figure {
  margin: 0 0 1rem;
}
img {
  vertical-align: middle;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
}
caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  caption-side: bottom;
  text-align: left;
}
th {
  text-align: inherit;
}
label {
  margin-bottom: 0.5rem;
  display: inline-block;
}
button {
  border-radius: 0;
}
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
select {
  word-wrap: normal;
}
[list]::-webkit-calendar-picker-indicator {
  display: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: textfield;
}
textarea {
  overflow: auto;
  resize: vertical;
}
fieldset {
  margin: 0;
  min-width: 0;
  border: 0;
  padding: 0;
}
legend {
  margin-bottom: 0.5rem;
  width: 100%;
  padding: 0;
  float: left;
  line-height: inherit;
  font-size: 1.5rem;
  white-space: normal;
  color: inherit;
}
mark {
  padding: 0.2em;
}
progress {
  vertical-align: baseline;
}
::-webkit-datetime-edit {
  overflow: visible;
  line-height: 0;
}
[type="search"] {
  -webkit-appearance: textfield;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-color-swatch-wrapper {
  padding: 0;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
output {
  display: inline-block;
}
summary {
  display: list-item;
  cursor: pointer;
}
template {
  display: none;
}
main {
  display: block;
}
[hidden] {
  display: none !important;
}
select:-moz-focusring {
  text-shadow: 0 0 0 #000;
  color: transparent;
}
select {
  background: transparent;
}
a:focus,
button:focus,
input:focus,
select:focus {
  outline: 0;
}
a:active,
a:hover {
  outline: 0;
}
html {
  height: 100%;
  min-height: 100%;
}
body {
  height: 100%;
  min-height: 100%;
  background-color: #a0a0a0;
}
body,
body *,
button,
input,
textarea {
  font-family: "Ubuntu", sans-serif !important;
}
sup {
  position: relative;
  top: -0.7em;
  font-size: 0.5em;
  vertical-align: baseline;
}
::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.3);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,0.5);
}
.extended-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.large-margined-container {
  margin-left: 20px;
  margin-right: 20px;
}
@media (min-width: 40em) {
  .large-margined-container {
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media (min-width: 60em) {
  .large-margined-container {
    margin-left: 80px;
    margin-right: 80px;
  }
}
@media (min-width: 80em) {
  .large-margined-container {
    margin-left: 120px;
    margin-right: 120px;
  }
}
@media (min-width: 100em) {
  .large-margined-container {
    margin-left: 160px;
    margin-right: 160px;
  }
}
@media (min-width: 120em) {
  .large-margined-container {
    margin-left: 200px;
    margin-right: 200px;
  }
}
.narrow-margined-container {
  margin-left: 20px;
  margin-right: 20px;
}
@media (min-width: 40em) {
  .narrow-margined-container {
    margin-left: 80px;
    margin-right: 80px;
  }
}
@media (min-width: 60em) {
  .narrow-margined-container {
    margin-left: 120px;
    margin-right: 120px;
  }
}
@media (min-width: 80em) {
  .narrow-margined-container {
    margin-left: 160px;
    margin-right: 160px;
  }
}
@media (min-width: 100em) {
  .narrow-margined-container {
    margin-left: 200px;
    margin-right: 200px;
  }
}
@media (min-width: 120em) {
  .narrow-margined-container {
    margin-left: 240px;
    margin-right: 240px;
  }
}
.large-padded-container {
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 40em) {
  .large-padded-container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 60em) {
  .large-padded-container {
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media (min-width: 80em) {
  .large-padded-container {
    padding-left: 120px;
    padding-right: 120px;
  }
}
@media (min-width: 100em) {
  .large-padded-container {
    padding-left: 160px;
    padding-right: 160px;
  }
}
@media (min-width: 120em) {
  .large-padded-container {
    padding-left: 200px;
    padding-right: 200px;
  }
}
.narrow-padded-container {
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 40em) {
  .narrow-padded-container {
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media (min-width: 60em) {
  .narrow-padded-container {
    padding-left: 120px;
    padding-right: 120px;
  }
}
@media (min-width: 80em) {
  .narrow-padded-container {
    padding-left: 160px;
    padding-right: 160px;
  }
}
@media (min-width: 100em) {
  .narrow-padded-container {
    padding-left: 200px;
    padding-right: 200px;
  }
}
@media (min-width: 120em) {
  .narrow-padded-container {
    padding-left: 240px;
    padding-right: 240px;
  }
}
.margin-left-auto\! {
  margin-left: auto !important;
}
.margin-right-auto\! {
  margin-right: auto !important;
}
.margin-lateral-8px {
  margin-left: 8px;
  margin-right: 8px;
}
.margin-lateral-16px {
  margin-left: 16px;
  margin-right: 16px;
}
.margin-vertical-8px {
  margin-top: 8px;
  margin-bottom: 8px;
}
.margin-vertical-16px {
  margin-top: 16px;
  margin-bottom: 16px;
}
.height-auto {
  height: auto;
}
.height-100\% {
  height: 100%;
}
.height-auto {
  height: auto;
}
.min-height-100vh {
  min-height: 100vh;
}
.width-100\% {
  width: 100%;
}
.width-1\/12 {
  width: 8.333333333333332%;
}
.width-2\/12 {
  width: 16.666666666666664%;
}
.width-3\/12 {
  width: 25%;
}
.width-4\/12 {
  width: 33.33333333333333%;
}
.width-5\/12 {
  width: 41.66666666666667%;
}
.width-6\/12 {
  width: 50%;
}
.width-7\/12 {
  width: 58.333333333333336%;
}
.width-8\/12 {
  width: 66.66666666666666%;
}
.width-9\/12 {
  width: 75%;
}
.width-10\/12 {
  width: 83.33333333333334%;
}
.width-11\/12 {
  width: 91.66666666666666%;
}
.width-12\/12 {
  width: 100%;
}
.padding-lateral-8px {
  padding-left: 8px;
  padding-right: 8px;
}
.padding-lateral-16px {
  padding-left: 16px;
  padding-right: 16px;
}
.padding-vertical-8px {
  padding-top: 8px;
  padding-bottom: 8px;
}
.padding-vertical-16px {
  padding-top: 16px;
  padding-bottom: 16px;
}
.display-none {
  display: none;
}
.display-none\! {
  display: none !important;
}
.display-flex {
  display: flex;
}
.flex-direction-row {
  flex-direction: row;
}
.flex-direction-column {
  flex-direction: column;
}
.flex-grow-1 {
  flex-grow: 1;
}
.justify-content-start {
  justify-content: flex-start;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-space-between {
  justify-content: space-between;
}
.justify-content-end {
  justify-content: flex-end;
}
.align-items-start {
  align-items: flex-start;
}
.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: flex-end;
}
.object-fit-cover {
  object-fit: cover;
}
.background-color-black {
  background-color: #000;
}
.background-color-darkest-gray {
  background-color: #202020;
}
.background-color-darker-gray {
  background-color: #404040;
}
.background-color-dark-gray {
  background-color: #808080;
}
.background-color-gray {
  background-color: #a0a0a0;
}
.background-color-light-gray {
  background-color: #c0c0c0;
}
.background-color-lighter-gray {
  background-color: #f0f0f0;
}
.background-color-lightest-gray {
  background-color: #f8f8f8;
}
.background-color-white {
  background-color: #fff;
}
.background-color-red {
  background-color: #f00;
}
.background-color-green {
  background-color: #0f0;
}
.background-color-blue {
  background-color: #00f;
}
html {
  font-size: 1rem;
}
@media (min-width: 90em) {
  html {
    font-size: 1.1rem;
  }
}
@media (min-width: 100em) {
  html {
    font-size: 1.2rem;
  }
}
@media (min-width: 110em) {
  html {
    font-size: 1.3rem;
  }
}
@media (min-width: 120em) {
  html {
    font-size: 1.4rem;
  }
}
.font-size-12px {
  font-size: 12px;
}
.font-size-16px {
  font-size: 16px;
}
.font-size-20px {
  font-size: 20px;
}
.font-size-24px {
  font-size: 24px;
}
.font-weight-100 {
  font-weight: 100;
}
.font-weight-200 {
  font-weight: 200;
}
.font-weight-300 {
  font-weight: 300;
}
.font-weight-400 {
  font-weight: 400;
}
.font-weight-500 {
  font-weight: 500;
}
.font-weight-600 {
  font-weight: 600;
}
.font-weight-700 {
  font-weight: 700;
}
.font-weight-800 {
  font-weight: 800;
}
.font-weight-900 {
  font-weight: 900;
}
.color-black {
  color: #000;
}
.color-darkest-gray {
  color: #202020;
}
.color-darker-gray {
  color: #404040;
}
.color-dark-gray {
  color: #808080;
}
.color-gray {
  color: #a0a0a0;
}
.color-light-gray {
  color: #c0c0c0;
}
.color-lighter-gray {
  color: #f0f0f0;
}
.color-lightest-gray {
  color: #f8f8f8;
}
.color-white {
  color: #fff;
}
.color-red {
  color: #f00;
}
.color-green {
  color: #0f0;
}
.color-blue {
  color: #00f;
}
@font-face {
  font-family: "Ubuntu";
  src: url("font/ubuntu_light.woff2") format("woff2"), url("font/ubuntu_light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("font/ubuntu_light_italic.woff2") format("woff2"), url("font/ubuntu_light_italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Ubuntu";
  src: url("font/ubuntu_regular.woff2") format("woff2"), url("font/ubuntu_regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("font/ubuntu_regular_italic.woff2") format("woff2"), url("font/ubuntu_regular_italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Ubuntu";
  src: url("font/ubuntu_medium.woff2") format("woff2"), url("font/ubuntu_medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("font/ubuntu_medium_italic.woff2") format("woff2"), url("font/ubuntu_medium_italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Ubuntu";
  src: url("font/ubuntu_bold.woff2") format("woff2"), url("font/ubuntu_bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("font/ubuntu_bold_italic.woff2") format("woff2"), url("font/ubuntu_bold_italic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
.header-menu {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.3s ease;
}
body.is-scrolled .header-menu:not(.is-open) {
  background-color: rgba(0,0,0,0.3);
}
@media (max-width: 49.98em) {
  .header-menu.is-open {
    min-height: 100vh;
    background-color: rgba(0,0,0,0.5);
  }
}
.header-menu-button-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 49.98em) {
  .header-menu.is-open .header-menu-button-container {
    display: none;
  }
}
.header-menu-button {
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.header-menu-button:hover {
  transform: scale(1.2);
}
.header-menu-button.is-selected {
  font-weight: bold;
}
.header-menu-button + .header-menu-button {
  margin-left: 1rem;
}
@media (max-width: 49.98em) {
  .header-menu-desktop-button {
    display: none;
  }
}
.header-menu-icon-button {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.header-menu-icon-button:hover {
  transform: scale(1.2);
}
.header-menu-icon-button + .header-menu-icon-button {
  margin-left: 1rem;
}
.header-menu-open-button {
  background: url("/static/image/header/menu_button.svg") no-repeat center center/contain;
}
@media (min-width: 50em) {
  .header-menu-open-button {
    display: none;
  }
}
.header-menu-mobile-button-container {
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 49.98em) {
  .header-menu.is-open .header-menu-mobile-button-container {
    display: flex;
  }
}
.header-menu-mobile-button {
  border-radius: 8px;
  padding: 5px 10px;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.header-menu-mobile-button:hover {
  transform: scale(1.2);
}
.header-menu-mobile-button.is-selected {
  color: #000;
}
.header-menu-mobile-button + .header-menu-mobile-button {
  margin-top: 1rem;
}
.header-menu-close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: url("/static/image/header/close_button.svg") no-repeat center center/contain;
}
.footer-menu {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c0c0c0;
}
.footer-menu-button {
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.footer-menu-button:hover {
  transform: scale(1.2);
}
.footer-menu-button.is-selected {
  font-weight: bold;
}
.footer-menu-button + .footer-menu-button {
  margin-left: 1rem;
}
.article-carousel {
  position: relative;
  overflow-x: hidden;
}
.article-carousel-strip {
  position: relative;
  left: 0;
  margin: 0;
  width: 100%;
  display: flex;
}
.article-carousel-strip {
  height: 100vh;
}
.article-carousel-slide {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}
.article-carousel-slide-text {
  max-width: 40rem;
  font-size: 2rem;
  color: #fff;
}
.article-carousel-arrow {
  font-size: 4rem;
  color: #fff;
  cursor: pointer;
}
.article-carousel-left-arrow {
  position: absolute;
  top: 50%;
  left: 4rem;
  transform: translateY(-50%);
}
.article-carousel-right-arrow {
  position: absolute;
  top: 50%;
  right: 4rem;
  transform: translateY(-50%);
}
.article-list {
  min-height: 100vh;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #404040;
  color: #fff;
}
.article-list-button {
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}
.article-list-button:hover {
  font-weight: 700;
}
.article-list-button + .article-list-button {
  margin-top: 1rem;
}
.article {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-color: #808080;
  color: #fff;
}
.article-title {
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
}
.article-text {
  margin-top: 2rem;
  font-size: 1rem;
}
.article-image {
  margin-top: 2rem;
  height: auto;
  width: 100%;
  border-radius: 2rem;
}
.article-video {
  margin-top: 2rem;
  height: auto;
  width: 100%;
  border-radius: 2rem;
}
.contact-form {
  margin-top: 4rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #c0c0c0;
}
.contact-form-input {
  height: 3rem;
  width: 20rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: #fff;
  text-align: center;
}
.contact-form-input:invalid,
.contact-form-input.is-invalid {
  border: 2px solid #f00;
  box-shadow: none;
}
.contact-form-input::placeholder {
  text-align: center;
  color: #c0c0c0;
}
.contact-form-textarea {
  height: 6rem;
  text-align: left;
  resize: none;
}
.contact-form-captcha-image {
  margin-left: 1rem;
  height: 3rem;
  border-radius: 0.5rem;
}
.contact-form-row {
  display: flex;
}
.contact-form-row + .contact-form-row {
  margin-top: 1rem;
}
.contact-form-send-button {
  margin-left: auto;
  height: 3rem;
  border-radius: 0.5rem;
  padding: 0 2rem;
  display: inline-block;
  background: #808080;
  line-height: 3rem;
  color: #fff;
  cursor: pointer;
}
.contact-form-thanks-text {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  color: #fff;
}
.legal-notice {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.scroll-down-reminder {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translate-x(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.3s ease;
}
body.is-scrolled .scroll-down-reminder {
  opacity: 0;
}
.scroll-down-reminder-text {
  line-height: 1rem;
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}
.scroll-down-reminder-icon {
  margin-top: 1rem;
  height: 0.8rem;
  width: 0.8rem;
  opacity: 1;
  background: url("/static/image/base/scroll_down_icon.svg") no-repeat center center/contain;
  transition: all 0.25s ease;
  animation: scroll-down-reminder-icon-animation 1s ease infinite;
}
@-moz-keyframes scroll-down-reminder-icon-animation {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}
@-webkit-keyframes scroll-down-reminder-icon-animation {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}
@-o-keyframes scroll-down-reminder-icon-animation {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}
@keyframes scroll-down-reminder-icon-animation {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}
.scroll-top-button {
  z-index: 999;
  position: fixed;
  bottom: 10px;
  right: 10px;
  overflow: visible;
  height: 50px;
  width: 20px;
  opacity: 1;
  background: url("/static/image/base/scroll_top_icon.svg") no-repeat center center/contain;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
body:not(.is-scrolled ) .scroll-top-button {
  opacity: 0;
  pointer-events: none;
}
.cookie-consent-banner-container {
  z-index: 1000;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 20rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(128,128,128,0.5);
  font-size: 1rem;
  color: #000;
}
.cookie-consent-banner-container.hidden {
  display: none;
}
.cookie-consent-banner-container a,
.cookie-consent-banner-container a:visited {
  text-decoration: underline;
  color: #404040;
}
.cookie-consent-banner-text {
  text-align: center;
  color: #404040;
}
.cookie-consent-banner-button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cookie-consent-banner-button {
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  padding: 5px 15px;
  color: #fff;
  cursor: pointer;
  transition: all 0.25s ease;
}
.cookie-consent-banner-button:hover {
  transform: scale(1.05);
}
.cookie-consent-banner-accept-button {
  background-color: #f00;
}
.cookie-consent-banner-decline-button {
  background-color: #c0c0c0;
}
