// -- IMPORTS

@import "show_base_view.styl"

// -- CLASSES

.text-button
{
    background: url(/static/image/admin/text_icon.svg) no-repeat center center;
    background-size: contain;
}

.department-button
{
    background: url(/static/image/admin/department_icon.svg) no-repeat center center;
    background-size: contain;
}

.product-button
{
    background: url(/static/image/admin/product_icon.svg) no-repeat center center;
    background-size: contain;
}

.contact-button
{
    background: url(/static/image/admin/contact_icon.svg) no-repeat center center;
    background-size: contain;
}

.user-button
{
    background: url(/static/image/admin/user_icon.svg) no-repeat center center;
    background-size: contain;
}

.text-table
{
    grid-template-columns: repeat( 3, auto );
}

.department-table
{
    grid-template-columns: repeat( 6, auto );
}

.product-table
{
    grid-template-columns: repeat( 7, auto );
}

.contact-table
{
    grid-template-columns: repeat( 8, auto );
}

.user-table
{
    grid-template-columns: repeat( 5, auto );
}
