// -- IMPORTS

@import "base.styl"
@import "button.styl"
@import "table.styl"

// -- CLASSES

.block-manager-button
{
    background: url( "/static/image/admin/block_manager_icon.svg" ) no-repeat center center / contain;
}

.page-manager-button
{
    background: url( "/static/image/admin/page_manager_icon.svg" ) no-repeat center center / contain;
}
