// -- IMPORTS

@import "../../STYLE/VISTA/vista_reset.styl"
@import "../../STYLE/VISTA/vista.styl"

// -- ELEMENTS

html
{
    background: #FFFFFF;
}

body
{
    min-height: 100vh;
}

a
{
    text-decoration: none;
    color: inherit;
}

a:hover
{
    color: inherit;

    cursor: pointer;
}

a:hover,
input:hover
{
    text-decoration: none;
}

a:focus,
button:focus,
input:focus,
textarea:focus
{
    outline: none;
}

// -- CLASSES

MakeRootFontSize( 16px );
MakeExtendedContainer();
MakeJustifySelfStart();
MakeJustifySelfEnd();
MakeFontWeightRange( 100, 100, 9 );
MakeSortableGridColumn();

// ~~

.margin-top-1rem
{
    margin-top: 1rem !important;
}

.margin-top-2rem
{
    margin-top: 2rem !important;
}

.margin-bottom-1rem
{
    margin-bottom: 1rem !important;
}

.margin-bottom-2rem
{
    margin-bottom: 2rem !important;
}

.page-container
{
    min-height: 100vh;

    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
}

.page-menu
{
    width: 72 * Pxm;
    padding: 15 * Pxm;

    display: flex;
    grid-area: 1 / 1 / span 2;

    background-image: linear-gradient( to right, #29323c 0%, #485563 100%);
}

.page-menu-content
{
}

.page-menu-item
{
    margin-top: 10 * Pxm;
}

.page-menu-title
{
    margin-left: 5 * Pxm;

    font-size: 20 * Pxm;
    color: #FFFFFF;
}

.page-title
{
    padding: 15 * Pxm;

    grid-area: 1 / 2;

    background-image: linear-gradient( to top, #4481eb 0%, #04befe 100%);

    text-align: center;
}

.page-title-content
{
    font-size: 28 * Pxm;
    color: #FFFFFF;
}

.page-body
{
    padding: 15 * Pxm;

    grid-area: 2 / 2;

    background-image: linear-gradient( to top, #fdfbfb 0%, #ebedee 100%);
}

.page-body-content
{
    color: #222222;
}

.page-section
{
    border-radius: 10 * Pxm;
    padding: 15 * Pxm;

    background-color: #FFFFFF;
}

.page-section + .page-section
{
    margin-top: 15 * Pxm;
}

.form-container
{
    width: 100%;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 15 * Pxm;
    justify-content: center;
    align-items: flex-start;
}

.form-container-small
{
    max-width: 30rem;
}

.form-extended
{
    grid-column: 1 / -1;
}

.form-field-error
{
    outline: solid red 1px;
}

.form-translation + .form-translation,
{
    margin-top: 5 * Pxm;
}

.form-input,
.form-select
{
    min-height: 32 * Pxm;
    width: 100%;
    border: 1 * Pxm solid #CCCCCC;
    border-radius: 5 * Pxm;
    padding: 5 * Pxm;

    display: block;
}

.form-textarea
{
    overflow: hidden;
    height: 36 * Pxm;
    min-height: 36 * Pxm;
    width: 100%;
    border: 1 * Pxm solid #CCCCCC;
    border-radius: 5 * Pxm;
    padding: 5 * Pxm;

    display: block;
}

.form-upload-container
{
    margin-top: 8 * Pxm;

    display: flex;
    align-items: center;
}

.form-upload-image,
.form-upload-video
{
    height: 200 * Pxm;
    width: auto;
    max-width: 80%;
    border-radius: 5 * Pxm;

    background: repeating-conic-gradient( #EEEEEE 0% 25%, transparent 0% 50% ) 50% / 20px 20px;
}

.form-upload-icon
{
    margin-left: 4 * Pxm;
    height: 16 * Pxm;
}

.form-upload-file
{
    overflow: hidden;
    height: 0;
    width: 0;
}

.form-field-name
{
    padding-top: 5 * Pxm;

    font-weight: 700;
}

.form-column-name
{
    font-weight: 700;
}

.form-centered
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-button
{
    height: 24 * Pxm;
    width: 24 * Pxm;
    border: none;

    display: inline-block;
}

.form-button + .form-button
{
    margin-left: 5 * Pxm;
}

.form-button-large
{
    height: 2.5rem;
    width: 2.5rem;
}

.form-button-tooltip
{
    z-index: 100;
    position: absolute;

    display: none;
}

.form-button:hover + .form-button-tooltip
{
    margin-left: 15 * Pxm;
    border-top-right-radius: 5 * Pxm;
    border-bottom-right-radius: 5 * Pxm;
    padding: 8 * Pxm 15 * Pxm 8 * Pxm 10 * Pxm;

    display: inline-block;

    background-color: #475462;

    color: #FFFFFF;
}

.form-title
{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    font-size: 1.5rem;
    font-weight: 700;
}

.form-toolbar
{
    margin-top: 1rem;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.card-list
{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15 * Pxm;

    +Media( min-width-60em )
    {
        grid-template-columns: 1fr 1fr;
    }

    +Media( min-width-90em )
    {
        grid-template-columns: 1fr 1fr 1fr;
    }

    +Media( min-width-120em )
    {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.card-container
{
}

.card
{
    border-radius: 10 * Pxm;
    padding: 15 * Pxm;

    background-color: #FFFFFF;
}

.filter-container
{
    position: relative;

    width: 100%;
}

.filter-input
{
    width: 100%;
    border: 1 * Pxm solid #CCCCCC;
    border: 1 * Pxm solid #CCCCCC;
    border-radius: 10 * Pxm;
    padding: 5 * Pxm 15 * Pxm;

    background-color: white;
}

.filter-button
{
    position: absolute;
    right: 2 * Pxm;

    height: 100%;
    padding: 5 * Pxm 15 * Pxm;

    cursor: pointer;
}

.disconnect-button
{
    background: url( "/static/image/admin/disconnect_icon.svg" ) no-repeat center center / contain;
}

.connect-button
{
    background: url( "/static/image/admin/connect_icon.svg" ) no-repeat center center / contain;
}

.view-button
{
    background: url( "/static/image/admin/view_icon.svg" ) no-repeat center center / contain;
}

.edit-button
{
    background: url( "/static/image/admin/edit_icon.svg" ) no-repeat center center / contain;
}

.remove-button
{
    background: url( "/static/image/admin/remove_icon.svg" ) no-repeat center center / contain;
}

.add-button
{
    background: url( "/static/image/admin/add_icon.svg" ) no-repeat center center / contain;
}

.cancel-button
{
    background: url( "/static/image/admin/cancel_icon.svg" ) no-repeat center center / contain;
}

.apply-button
{
    background: url( "/static/image/admin/apply_icon.svg" ) no-repeat center center / contain;
}

.table-container
{
    align-items: start;
}

.debug-outline *
{
    outline: 0.1 * Pxm solid rgba( 255, 0, 0, 0.5 );
}
