// -- IMPORTS

@import "../../STYLE/VISTA/vista_reset.styl"
@import "../../STYLE/VISTA/vista.styl"

// -- CONSTANTS

PageTitleBackgroundColor = #84A5C9;
PageMenuBackgroundColor = #5886B5;
TooltipBackgroundColor = #628DB9;
PageBodyBackgroundColor = #EBEDEE;
RowHoverBackgroundColor = #F1F7F7;

PrimaryInsetColor = rgba( 0, 0, 0, 0.15 );
PrimaryShadowColor = rgba( 0, 0, 0, 0.10 );
SecondaryShadowColor = rgba( 0, 0, 0, 0.13 );

ScrollbarColor = #A0BAD5;
ScrollbarHoverColor = #8DABCD;
ScrollbarBackgroundColor = #C4D0DD;

// -- ELEMENTS

html
{
    background: #FFFFFF;
}

body
{
    min-height: 100vh;
}

a
{
    text-decoration: none;
    color: inherit;
}

a:hover
{
    color: inherit;

    cursor: pointer;
}

a:hover,
input:hover
{
    text-decoration: none;
}

a:focus,
button:focus,
input:focus,
textarea:focus
{
    outline: none;
}

html,
body,
body *,
button,
input,
textarea
{
    scrollbar-width: thin;
    scrollbar-color: ScrollbarColor ScrollbarBackgroundColor;
}

::-webkit-scrollbar
{
    height: 0.6rem;
    width: 0.6rem;
}

::-webkit-scrollbar-thumb
{
    background-color: ScrollbarColor;
}

::-webkit-scrollbar-thumb:hover
{
    background-color: ScrollbarHoverColor;
}

::-webkit-scrollbar-track
{
    background-color: ScrollbarBackgroundColor;
}

// -- CLASSES

MakeRootFontSize( 16px );
MakeExtendedContainer();
MakeJustifySelfStart();
MakeJustifySelfEnd();
MakeFontWeightRange( 100, 100, 9 );
MakeSortableTableColumn();

// ~~

.is-hidden
{
    display: none !important;
}

.margin-top-1rem
{
    margin-top: 1rem !important;
}

.margin-top-2rem
{
    margin-top: 2rem !important;
}

.margin-bottom-1rem
{
    margin-bottom: 1rem !important;
}

.margin-bottom-2rem
{
    margin-bottom: 2rem !important;
}

.title
{
    box-shadow: 0 0 0.6rem PrimaryInsetColor inset;
}

.image,
.video
{
    box-shadow: 0 0.6rem 1.2rem PrimaryShadowColor, 0 0.4rem 0.4rem SecondaryShadowColor;
}

.input
{
    box-shadow: 0 0.3rem 0.6rem PrimaryShadowColor, 0 0.2rem 0.2rem SecondaryShadowColor;
}

.page-container
{
    min-height: 100vh;

    display: grid;
    grid-template-rows: 3rem 1fr;
    grid-template-columns: 3rem 1fr;
    grid-template-areas: \
        "menu title" \
        "menu body";
}

.page-menu
{
    z-index: 1000;
    position: fixed;

    min-height: 100vh;
    width: 3rem;

    display: flex;
    grid-area: menu;

    background-color: PageMenuBackgroundColor;
    box-shadow: 0 0 0.6rem PrimaryInsetColor inset;
}

.page-menu-content
{
    z-index: 1000;
    position: fixed;

    overflow-y: auto;
    scrollbar-width: none !important;
    min-height: 100vh;
    max-height: 100%;
    padding: 1rem 0.5rem 0.5rem 0.5rem;

    display: flex;
    flex-direction: column;
}

.page-menu-content::-webkit-scrollbar
{
    display: none !important;
}

.page-menu-item
{
    padding-bottom: 0.5rem;
}

.page-menu-item a
{
    display: flex;
}

.page-menu-title
{
    margin-left: 0.25rem;

    font-size: 1.25rem;
    color: #FFFFFF;
}

.page-title
{
    grid-area: title;
}

.page-title-content
{
    z-index: 900;
    position: fixed;

    height: 3rem;
    width: 100%;
    max-width: calc( 100vw - 3rem );
    padding: 0.25rem;

    background-color: PageTitleBackgroundColor;
    box-shadow: 0 0 0.6rem PrimaryInsetColor inset;

    font-size: 1.5rem;
    text-align: center;
    color: #FFFFFF;
}

.page-body
{
    padding: 1rem;

    grid-area: body;

    background-color: PageBodyBackgroundColor;
}

.page-body-content
{
}

.page-section
{
    border-radius: 0.5rem;
    padding: 1rem;

    background-color: #FFFFFF;
    box-shadow: 0 0.6rem 1.2rem PrimaryShadowColor, 0 0.4rem 0.4rem SecondaryShadowColor;
}

.page-section + .page-section
{
    margin-top: 1rem;
}

.form-container
{
    width: 100%;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1rem;
    justify-content: center;
    align-items: flex-start;
}

.form-container-small
{
    max-width: 30rem;
}

.form-limited
{
    max-width: calc( 100vw - 5rem );
}

.form-extended
{
    grid-column: 1 / -1;
}

.form-field-error
{
    outline: solid red 1px;
}

.form-translation + .form-translation,
{
    margin-top: 0.25rem;
}

.form-input,
.form-select
{
    min-height: 2rem;
    width: 100%;
    border: 1 * Pxm solid #CCCCCC;
    border-radius: 0.25rem;
    padding: 0.25rem;

    display: block;
}

.form-textarea
{
    overflow: hidden;
    height: 2.25rem;
    min-height: 2.25rem;
    width: 100%;
    border: 1 * Pxm solid #CCCCCC;
    border-radius: 0.25rem;
    padding: 0.25rem;

    display: block;
}

.form-upload-container
{
    margin-top: 0.5rem;

    display: flex;
    align-items: center;
}

.form-upload-image,
.form-upload-video
{
    height: 12.5rem;
    width: auto;
    max-width: 80%;
    border-radius: 0.25rem;

    background: repeating-conic-gradient( #E8E8E8 0% 25%, transparent 0% 50% ) 50% / 20px 20px;
    box-shadow: 0 0.6rem 1.2rem PrimaryShadowColor, 0 0.4rem 0.4rem SecondaryShadowColor;
}

.form-upload-button
{
    margin-bottom: 0;

    display: flex;

    cursor: pointer;
}

.form-upload-icon
{
    margin-left: 0.5rem;
    height: 1rem;
}

.form-upload-file
{
    overflow: hidden;
    height: 0;
    width: 0;
}

.form-delete-icon
{
    margin-left: 0.25rem;
    height: 1rem;

    cursor: pointer;
}

.form-field-name
{
    padding-top: 0.25rem;

    font-weight: 700;
}

.form-column-name
{
    font-weight: 700;
}

.form-centered
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-button
{
    height: 1.2rem;
    width: 1.2rem;
    border: none;

    display: inline-block;

    cursor: pointer;
}

.form-button + .form-button
{
    margin-left: 0.25rem;
}

.form-button-large
{
    height: 2rem;
    width: 2rem;
}

.form-button-tooltip
{
    display: none;
}

.form-button:hover + .form-button-tooltip
{
    margin-left: 0.5rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    padding: 0.25rem 0.75rem 0.25rem 0.5rem;

    display: inline-block;

    background-color: TooltipBackgroundColor;
    box-shadow: 0 0.6rem 1.2rem PrimaryShadowColor, 0 0.4rem 0.4rem SecondaryShadowColor;

    color: #FFFFFF;
}

.form-title
{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    font-size: 1.5rem;
    font-weight: 700;
}

.form-toolbar
{
    margin-top: 1rem;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.filter-row
{
    display: contents;
}

.card-list
{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;

    +Media( min-width-80em )
    {
        grid-template-columns: 1fr 1fr;
    }

    +Media( min-width-120em )
    {
        grid-template-columns: 1fr 1fr 1fr;
    }

    +Media( min-width-160em )
    {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.card-container
{
}

.card
{
    border-radius: 0.5rem;
    padding: 1rem;

    background-color: #FFFFFF;
    box-shadow: 0 0.6rem 1.2rem PrimaryShadowColor, 0 0.4rem 0.4rem SecondaryShadowColor;
}

.tool-container
{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tool-container .filter-container
{
    flex-grow: 1;
}

.filter-container
{
    position: relative;

    width: 100%;
}

.filter-container ~ .form-button
{
    margin-left: 1rem;
    height: 2rem;
    width: 2rem;
}

.filter-container .card-list
{
    margin-top: 1rem;
}

.filter-input
{
    width: 100%;
    border: 1 * Pxm solid #CCCCCC;
    border-radius: 0.5rem;
    padding: 0.25rem 1rem;

    background-color: white;
    box-shadow: 0 0.3rem 0.6rem PrimaryShadowColor, 0 0.2rem 0.2rem SecondaryShadowColor;
}

.filter-button
{
    position: absolute;
    right: 0.125rem;
    transform: scale( 0.6 );

    height: 100%;
    padding: 0.25rem 1rem;

    cursor: pointer;
}

.filter-row:hover .filter-cell
{
    background-color: RowHoverBackgroundColor;
}

.disconnect-button
{
    background: url( "/static/image/admin/disconnect_icon.svg" ) no-repeat center center / contain;
}

.connect-button
{
    background: url( "/static/image/admin/connect_icon.svg" ) no-repeat center center / contain;
}

.view-button
{
    background: url( "/static/image/admin/view_icon.svg" ) no-repeat center center / contain;
}

.edit-button
{
    background: url( "/static/image/admin/edit_icon.svg" ) no-repeat center center / contain;
}

.remove-button
{
    background: url( "/static/image/admin/remove_icon.svg" ) no-repeat center center / contain;
}

.add-button
{
    background: url( "/static/image/admin/add_icon.svg" ) no-repeat center center / contain;
}

.cancel-button
{
    background: url( "/static/image/admin/cancel_icon.svg" ) no-repeat center center / contain;
}

.apply-button
{
    background: url( "/static/image/admin/apply_icon.svg" ) no-repeat center center / contain;
}

.list-button
{
    background: url( "/static/image/admin/list_icon.svg" ) no-repeat center center / contain;
}

.table-container
{
    align-items: start;
}

.debug-outline *
{
    outline: 0.1 * Pxm solid rgba( 255, 0, 0, 0.5 );
}
