// -- IMPORTS

@import "../../STYLE/VISTA/vista_reset.styl"
@import "../../STYLE/VISTA/vista.styl"
@import "../../STYLE/VISTA/vista_form.styl"

// -- CONSTANTS

BlackColor = #000000;
GrayColor = #808080;
WhiteColor = #FFFFFF;

RedColor = #E20048;
BlueColor = #001E68;

BorderColor = #CCCCCC;
GrayedColor = #AAAAAA;

// -- ELEMENTS

html
{
    background: WhiteColor;

    color: BlueColor;
}

body
{
    min-height: 100vh;
}

a
{
    text-decoration: none;
    color: inherit;
}

a:hover,
a:visited
{
    color: inherit;

    cursor: pointer;
}

a:hover,
input:hover
{
    text-decoration: none;
}

a:focus,
button:focus,
input:focus,
textarea:focus
{
    outline: none;
}

input,
textarea
{
    color: BlackColor;
}

// -- CLASSES

MakeRootFontSize( 16px );
MakeExtendedContainer();
MakeJustifySelfStart();
MakeJustifySelfEnd();
MakeFontWeightRange( 100, 100, 9 );
MakeSortableTableColumn();

// ~~

.color-black
{
    color: BlackColor;
}

.color-gray
{
    color: GrayColor;
}

.color-white
{
    color: WhiteColor;
}

.color-red
{
    color: RedColor;
}

.color-blue
{
    color: BlueColor;
}

.is-needed::after
{
    content: "*";
    color: RedColor;
    float: right;
}

.is-hidden
{
    display: none !important;
}

.margin-top-auto
{
    margin-top: auto !important;
}

.margin-top-50prm
{
    margin-top: 0.5rem !important;
}

.margin-top-1rem
{
    margin-top: 1rem !important;
}

.margin-top-150prm
{
    margin-top: 1.5rem !important;
}

.margin-top-2rem
{
    margin-top: 2rem !important;
}

.margin-top-250prm
{
    margin-top: 2.5rem !important;
}

.margin-top-3rem
{
    margin-top: 3rem !important;
}

.margin-bottom-auto
{
    margin-bottom: auto !important;
}

.margin-bottom-50prm
{
    margin-bottom: 0.5rem !important;
}

.margin-bottom-1rem
{
    margin-bottom: 1rem !important;
}

.margin-bottom-150prm
{
    margin-bottom: 1.5rem !important;
}

.margin-bottom-2rem
{
    margin-bottom: 2rem !important;
}

.margin-bottom-250prm
{
    margin-bottom: 2.5rem !important;
}

.margin-bottom-3rem
{
    margin-bottom: 3rem !important;
}

.margin-left-auto
{
    margin-left: auto !important;
}

.margin-left-50prm
{
    margin-left: 0.5rem !important;
}

.margin-left-1rem
{
    margin-left: 1rem !important;
}

.margin-left-150prm
{
    margin-left: 1.5rem !important;
}

.margin-left-2rem
{
    margin-left: 2rem !important;
}

.margin-left-250prm
{
    margin-left: 2.5rem !important;
}

.margin-left-3rem
{
    margin-left: 3rem !important;
}

.margin-right-auto
{
    margin-right: auto !important;
}

.margin-right-50prm
{
    margin-right: 0.5rem !important;
}

.margin-right-1rem
{
    margin-right: 1rem !important;
}

.margin-right-150prm
{
    margin-right: 1.5rem !important;
}

.margin-right-2rem
{
    margin-right: 2rem !important;
}

.margin-right-250prm
{
    margin-right: 2.5rem !important;
}

.margin-right-3rem
{
    margin-right: 3rem !important;
}

.width-30rem
{
    width: 30rem !important;
}

.padding-1rem
{
    padding: 1rem !important;
}

.padding-2rem
{
    padding: 2rem !important;
}

.flex-direction-column
{
    flex-direction: column !important;
}

.tree-container
{
    position: relative;

    margin-top: 0.25rem;
}

.tree-container > .tree-container
{
    margin-left: 2em;
}

.tree-button
{
    display: block;

    color: BlueColor;
}

.tree-button:hover
{
    color: RedColor;
}

.tree-toggle-button
{
    transform: translate( -1.5rem, 0.2rem );

    height: 1rem;
    width: 1rem;

    background: url( "/static/image/admin/red_right_caret_icon.svg" ) no-repeat center center / contain;

    cursor: pointer;
}

.tree-toggle-button:hover
{
    transform: translate( -1.5rem, 0.2rem ) scale( 1.2 );
}

.tree-toggle-button + *
{
    margin-top: -1rem;
}

.tree-toggle-button.is-open
{
    background: url( "/static/image/admin/red_down_caret_icon.svg" ) no-repeat center center / contain;
}

.tree-toggle-button:not(.is-open) ~ .tree-container
{
    display: none;
}

.logo-image
{
    height: 8rem;
    width: 100%;

    background: url( "/static/image/admin/logo.svg" ) no-repeat center center / contain;
}

.page-container
{
    min-height: 100vh;

    display: grid;
    grid-template-rows: 2.5rem auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: \
        "menu" \
        "title" \
        "body";
}

.page-menu
{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    display: flex;
    gap: 1.5rem;
    grid-area: menu;
    justify-content: center;
    align-items: center;

    background-color: WhiteColor;
}

.page-menu-button,
.page-menu-button:visited
{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;

    line-height: 1.1;
    font-size: 1rem;
    color: GrayColor;
}

.page-menu-button:hover
{
    color: RedColor;
}

.page-menu-framed-button
{
    border: 1px solid GrayColor;
    border-radius: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.page-menu-framed-button:hover
{
    border: 1px solid RedColor;
}

.page-title
{
    width: calc( var( --viewport-width ) - 1.2rem );
    padding: 1rem;

    grid-area: title;

    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    color: RedColor;
}

.page-body
{
    padding: 1rem;
    padding-bottom: 2rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-area: body;
}

.page-section
{
    border: 1px solid BorderColor;
    border-radius: 0.5rem;
    padding: 1rem;
}

.page-section + .page-section
{
    margin-top: 1rem;
}

.form-container
{
    width: 100%;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1rem;
    justify-content: center;
    align-items: start;
}

.form-container-small
{
    max-width: 30rem;
}

.form-limited
{
    max-width: calc( var( --viewport-width ) - 2rem );
}

.form-extended
{
    grid-column: 1 / -1;
}

.form-translation-list
{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.25rem 0.5rem;
}

.form-translation-data
{
}

.form-translation-specifier
{
    text-align: right;
    color: GrayedColor;
}

.form-field-error,
.form-field-error + div input:not([readonly]),
.form-field-error + div textarea:not([readonly]),
.form-field-error + div select:not([readonly])
{
    outline: solid red 1px;
}

.form-input,
.form-select
{
    min-height: 2rem;
    width: 100%;
    border: 1 * Pxm solid BorderColor;
    border-radius: 0.25rem;
    padding: 0.25rem;

    display: block;

    background-color: WhiteColor;
}

.form-textarea
{
    overflow: hidden;
    height: 2.25rem;
    min-height: 2.25rem;
    width: 100%;
    border: 1 * Pxm solid BorderColor;
    border-radius: 0.25rem;
    padding: 0.25rem;

    display: block;
}

.form-input:not([hidden]) + .form-input:not([hidden]),
.form-textarea:not([hidden]) + .form-textarea:not([hidden])
{
    margin-top: 0.5rem;
}

.form-field-name
{
    padding-top: 0.25rem;

    font-weight: 700;
}

.form-field-value
{
}

.form-column-name
{
    font-weight: 700;
}

.form-centered
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-text-button
{
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;

    background-color: RedColor;

    color: WhiteColor;
}

.form-button
{
    height: 1.2rem;
    width: 1.2rem;
    border: none;

    display: inline-block;

    cursor: pointer;
}

.form-button + .form-button
{
    margin-left: 0.25rem;
}

.form-button-large
{
    height: 2rem;
    width: 2rem;
}

.form-button-tooltip
{
    display: none;
}

.form-button:hover + .form-button-tooltip
{
    margin-left: 0.5rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    padding: 0.25rem 0.75rem 0.25rem 0.5rem;

    display: inline-block;

    color: WhiteColor;
}

.form-upload-container
{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto 1fr;
    grid-template-areas : \
        "input input input input" \
        "preview upload-button delete-button .";
    gap: 0.5rem;
    align-items: center;
}

.form-upload-container.is-readonly
{
    gap: 0;
}

.form-upload-input
{
    grid-area: input;
}

.form-upload-image,
.form-upload-video
{
    height: 12.5rem;
    width: auto;
    max-width: 50vw;
    border-radius: 0.25rem;

    grid-area: preview;
}

.form-upload-button
{
    grid-area: upload-button;
}

.form-upload-file
{
    overflow: hidden;
    height: 0;
    width: 0;
}

.form-delete-button
{
    grid-area: delete-button;
}

.form-upload-button + .form-delete-button
{
    margin-left: 0;
}

.form-multilingual-container
{
    display: flex;
    flex-direction: column;
}

.form-list-container
{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-list-container.is-readonly
{
    gap: 0;
}

.form-value-container
{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr auto auto auto;
    grid-template-areas: \
        "value drag-button add-button remove-button";
    gap: 0.5rem;
}

.form-list-container.is-readonly .form-value-container
{
    gap: 0;
}

.form-value
{
    grid-area: value;
}

.form-drag-value-button
{
    grid-area: drag-button;
}

.form-add-value-button
{
    grid-area: add-button;
}

.form-remove-value-button
{
    grid-area: remove-button;
}

.form-add-value-button + .form-remove-value-button
{
    margin-left: 0;
}

.form-title
{
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;

    font-size: 1.5rem;
    font-weight: 700;
}

.form-toolbar
{
    margin-top: 1rem;

    display: flex;
    justify-content: end;
    align-items: center;
}

.card-list
{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;

    +Media( min-width-120em )
    {
        grid-template-columns: 1fr 1fr;
    }
}

.card-container
{
}

.card
{
    max-width: calc( var( --viewport-width ) - 2rem - 0.5px );
    border: 1px solid BorderColor;
    border-radius: 0.5rem;
    padding: 1rem;

    +Media( min-width-120em )
    {
        max-width: calc( var( --viewport-width ) * 0.5 - 2rem - 0.5px );
    }
}

.small-card-list
{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;

    +Media( min-width-80em )
    {
        grid-template-columns: 1fr 1fr;
    }

    +Media( min-width-120em )
    {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.small-card-container
{
}

.small-card
{
    max-width: calc( var( --viewport-width ) - 2rem - 0.5px );
    border: 1px solid BorderColor;
    border-radius: 0.5rem;
    padding: 1rem;

    +Media( min-width-80em )
    {
        max-width: calc( var( --viewport-width ) * 0.5 - 2rem - 0.5px );
    }

    +Media( min-width-120em )
    {
        max-width: calc( var( --viewport-width ) * 0.3333333 - 2rem - 0.5px );
    }
}

.tool-container
{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tool-container .filter-container
{
    flex-grow: 1;
}

.filter-container
{
    position: relative;

    width: 100%;
}

.filter-container ~ .form-button
{
    margin-left: 1rem;
    height: 2rem;
    width: 2rem;
}

.filter-container .card-list
{
    margin-top: 1rem;
}

.filter-input
{
    width: 100%;
    border: 1 * Pxm solid BorderColor;
    border-radius: 0.5rem;
    padding: 0.25rem 1rem;
}

.filter-apply-button
{
    position: absolute;
    right: 0.125rem;
    transform: scale( 0.6 );

    height: 100%;
    padding: 0.25rem 1rem;

    cursor: pointer;
}

.filter-content
{
    display: contents;
}

.filter-row:hover .filter-cell
{
    background-color: #F1F7F7;
}

.disconnect-button
{
    background: url( "/static/image/admin/disconnect_icon.svg" ) no-repeat center center / contain;
}

.connect-button
{
    background: url( "/static/image/admin/connect_icon.svg" ) no-repeat center center / contain;
}

.view-button
{
    background: url( "/static/image/admin/view_icon.svg" ) no-repeat center center / contain;
}

.manage-button
{
    background: url( "/static/image/admin/manage_icon.svg" ) no-repeat center center / contain;
}

.edit-button
{
    background: url( "/static/image/admin/edit_icon.svg" ) no-repeat center center / contain;
}

.remove-button
{
    background: url( "/static/image/admin/remove_icon.svg" ) no-repeat center center / contain;
}

.add-button
{
    background: url( "/static/image/admin/add_icon.svg" ) no-repeat center center / contain;
}

.drag-button
{
    background: url( "/static/image/admin/drag_icon.svg" ) no-repeat center center / contain;
}

.cancel-button
{
    background: url( "/static/image/admin/cancel_icon.svg" ) no-repeat center center / contain;
}

.apply-button
{
    background: url( "/static/image/admin/apply_icon.svg" ) no-repeat center center / contain;
}

.list-button
{
    background: url( "/static/image/admin/list_icon.svg" ) no-repeat center center / contain;
}

.upload-button
{
    background: url( "/static/image/admin/upload_icon.svg" ) no-repeat center center / contain;
}

.delete-button
{
    background: url( "/static/image/admin/delete_icon.svg" ) no-repeat center center / contain;
}

.table-container
{
    align-items: start;
}

.backoff-message
{
    margin-top: 4rem;
    max-width: 32rem;

    font-size: 1.5rem;
    text-align: center;
}

.backoff-duration
{
    margin-top: 2rem;

    display: flex;
    gap: 2rem;
}

.backoff-count
{
    height: 7rem;
    width: 7rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: BlueColor;

    color: WhiteColor;
}

.backoff-count-text
{
    font-size: 2rem;
}

.backoff-count-unit
{
    font-size: 1rem;
}

.debug-outline *
{
    outline: 0.1 * Pxm solid rgba( 255, 0, 0, 0.5 );
}
