// -- CLASSES

.text-button
{
    background: url( "/static/image/admin/text_icon.svg" ) no-repeat center center / contain;
}

.page-type-button
{
    background: url( "/static/image/admin/page_type_icon.svg" ) no-repeat center center / contain;
}

.page-manager-button
{
    background: url( "/static/image/admin/page_manager_icon.svg" ) no-repeat center center / contain;
}

.page-button
{
    background: url( "/static/image/admin/page_icon.svg" ) no-repeat center center / contain;
}

.page-sub-page-button
{
    background: url( "/static/image/admin/page_sub_page_icon.svg" ) no-repeat center center / contain;
}

.block-category-button
{
    background: url( "/static/image/admin/block_category_icon.svg" ) no-repeat center center / contain;
}

.block-type-button
{
    background: url( "/static/image/admin/block_type_icon.svg" ) no-repeat center center / contain;
}

.block-manager-button
{
    background: url( "/static/image/admin/block_manager_icon.svg" ) no-repeat center center / contain;
}

.block-button
{
    background: url( "/static/image/admin/block_icon.svg" ) no-repeat center center / contain;
}

.contact-button
{
    background: url( "/static/image/admin/contact_icon.svg" ) no-repeat center center / contain;
}

.user-button
{
    background: url( "/static/image/admin/user_icon.svg" ) no-repeat center center / contain;
}
