// -- CLASSES

.text-table
{
    grid-template-columns: repeat( 3, auto );
}

.language-table
{
    grid-template-columns: repeat( 4, auto );
}

.page-type-table
{
    grid-template-columns: repeat( 3, auto );
}

.page-table
{
    grid-template-columns: repeat( 12, auto );
}

.block-category-table
{
    grid-template-columns: repeat( 3, auto );
}

.block-type-table
{
    grid-template-columns: repeat( 3, auto );
}

.text-block-table
{
    grid-template-columns: repeat( 7, auto );
}

.image-block-table
{
    grid-template-columns: repeat( 10, auto );
}

.text-and-image-block-table
{
    grid-template-columns: repeat( 12, auto );
}

.contact-table
{
    grid-template-columns: repeat( 8, auto );
}

.user-table
{
    grid-template-columns: repeat( 5, auto );
}
