// -- CLASSES

.text-table
{
    grid-template-columns: repeat( 3, auto );
}

.page-type-table
{
    grid-template-columns: repeat( 3, auto );
}

.page-table
{
    grid-template-columns: repeat( 9, auto );
}

.page-sub-page-table
{
    grid-template-columns: repeat( 4, auto );
}

.block-type-table
{
    grid-template-columns: repeat( 3, auto );
}

.content-block-table
{
    grid-template-columns: repeat( 10, auto );
}

.contact-table
{
    grid-template-columns: repeat( 8, auto );
}

.user-table
{
    grid-template-columns: repeat( 5, auto );
}
