// -- CLASSES

.text-table
{
    grid-template-columns: repeat( 3, auto );
}

.language-table
{
    grid-template-columns: repeat( 5, auto );
}

.page-type-table
{
    grid-template-columns: repeat( 3, auto );
}

.page-table
{
    grid-template-columns: repeat( 22, auto );
}

.block-category-table
{
    grid-template-columns: repeat( 3, auto );
}

.block-type-table
{
    grid-template-columns: repeat( 3, auto );
}

.block-content-table
{
    grid-template-columns: repeat( 3, auto );
}

.block-table
{
    grid-template-columns: repeat( 31, auto );
}

.contact-table
{
    grid-template-columns: repeat( 8, auto );
}

.connection-table
{
    grid-template-columns: repeat( 5, auto );
}

.user-table
{
    grid-template-columns: repeat( 5, auto );
}
