.article
{
    padding-top: 3rem;
    padding-bottom: 2rem;

    background-color: DarkGrayColor;

    color: WhiteColor;
}

.article-title
{
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
}

.article-text
{
    margin-top: 2rem;

    font-size: 1rem;
}

.article-image
{
    margin-top: 2rem;
    height: auto;
    width: 100%;
    border-radius: 2rem;
}

.article-video
{
    margin-top: 2rem;
    height: auto;
    width: 100%;
    border-radius: 2rem;
}
