// -- CONSTANTS

PrimaryFontFamily = "Ubuntu", sans-serif;
SecondaryFontFamily = "Ubuntu", sans-serif;
TertiaryFontFamily = "Ubuntu", sans-serif;
MonospaceFontFamily = monospace;

BlackColor = #000000;
WhiteColor = #FFFFFF;

GrayColor = #808080;
GrayColor50 = darken( GrayColor, 90% );
GrayColor100 = darken( GrayColor, 80% );
GrayColor150 = darken( GrayColor, 70% );
GrayColor200 = darken( GrayColor, 60% );
GrayColor250 = darken( GrayColor, 50% );
GrayColor300 = darken( GrayColor, 40% );
GrayColor350 = darken( GrayColor, 30% );
GrayColor400 = darken( GrayColor, 20% );
GrayColor450 = darken( GrayColor, 10% );
GrayColor550 = lighten( GrayColor, 10% );
GrayColor600 = lighten( GrayColor, 20% );
GrayColor650 = lighten( GrayColor, 30% );
GrayColor700 = lighten( GrayColor, 40% );
GrayColor750 = lighten( GrayColor, 50% );
GrayColor800 = lighten( GrayColor, 60% );
GrayColor850 = lighten( GrayColor, 70% );
GrayColor900 = lighten( GrayColor, 80% );
GrayColor950 = lighten( GrayColor, 90% );
GrayContrastColor = BlackColor;

RedColor = #E95147;
RedColor50 = darken( RedColor, 90% );
RedColor100 = darken( RedColor, 80% );
RedColor150 = darken( RedColor, 70% );
RedColor200 = darken( RedColor, 60% );
RedColor250 = darken( RedColor, 50% );
RedColor300 = darken( RedColor, 40% );
RedColor350 = darken( RedColor, 30% );
RedColor400 = darken( RedColor, 20% );
RedColor450 = darken( RedColor, 10% );
RedColor550 = lighten( RedColor, 10% );
RedColor600 = lighten( RedColor, 20% );
RedColor650 = lighten( RedColor, 30% );
RedColor700 = lighten( RedColor, 40% );
RedColor750 = lighten( RedColor, 50% );
RedColor800 = lighten( RedColor, 60% );
RedColor850 = lighten( RedColor, 70% );
RedColor900 = lighten( RedColor, 80% );
RedColor950 = lighten( RedColor, 90% );
RedContrastColor = BlackColor;

GreenColor = #00A979;
GreenColor50 = darken( GreenColor, 90% );
GreenColor100 = darken( GreenColor, 80% );
GreenColor150 = darken( GreenColor, 70% );
GreenColor200 = darken( GreenColor, 60% );
GreenColor250 = darken( GreenColor, 50% );
GreenColor300 = darken( GreenColor, 40% );
GreenColor350 = darken( GreenColor, 30% );
GreenColor400 = darken( GreenColor, 20% );
GreenColor450 = darken( GreenColor, 10% );
GreenColor550 = lighten( GreenColor, 10% );
GreenColor600 = lighten( GreenColor, 20% );
GreenColor650 = lighten( GreenColor, 30% );
GreenColor700 = lighten( GreenColor, 40% );
GreenColor750 = lighten( GreenColor, 50% );
GreenColor800 = lighten( GreenColor, 60% );
GreenColor850 = lighten( GreenColor, 70% );
GreenColor900 = lighten( GreenColor, 80% );
GreenColor950 = lighten( GreenColor, 90% );
GreenContrastColor = BlackColor;

BlueColor = #2277EE;
BlueColor50 = darken( BlueColor, 90% );
BlueColor100 = darken( BlueColor, 80% );
BlueColor150 = darken( BlueColor, 70% );
BlueColor200 = darken( BlueColor, 60% );
BlueColor250 = darken( BlueColor, 50% );
BlueColor300 = darken( BlueColor, 40% );
BlueColor350 = darken( BlueColor, 30% );
BlueColor400 = darken( BlueColor, 20% );
BlueColor450 = darken( BlueColor, 10% );
BlueColor550 = lighten( BlueColor, 10% );
BlueColor600 = lighten( BlueColor, 20% );
BlueColor650 = lighten( BlueColor, 30% );
BlueColor700 = lighten( BlueColor, 40% );
BlueColor750 = lighten( BlueColor, 50% );
BlueColor800 = lighten( BlueColor, 60% );
BlueColor850 = lighten( BlueColor, 70% );
BlueColor900 = lighten( BlueColor, 80% );
BlueColor950 = lighten( BlueColor, 90% );
BlueContrastColor = BlackColor;

OrangeColor = #F37736;
OrangeColor50 = darken( OrangeColor, 90% );
OrangeColor100 = darken( OrangeColor, 80% );
OrangeColor150 = darken( OrangeColor, 70% );
OrangeColor200 = darken( OrangeColor, 60% );
OrangeColor250 = darken( OrangeColor, 50% );
OrangeColor300 = darken( OrangeColor, 40% );
OrangeColor350 = darken( OrangeColor, 30% );
OrangeColor400 = darken( OrangeColor, 20% );
OrangeColor450 = darken( OrangeColor, 10% );
OrangeColor550 = lighten( OrangeColor, 10% );
OrangeColor600 = lighten( OrangeColor, 20% );
OrangeColor650 = lighten( OrangeColor, 30% );
OrangeColor700 = lighten( OrangeColor, 40% );
OrangeColor750 = lighten( OrangeColor, 50% );
OrangeColor800 = lighten( OrangeColor, 60% );
OrangeColor850 = lighten( OrangeColor, 70% );
OrangeColor900 = lighten( OrangeColor, 80% );
OrangeColor950 = lighten( OrangeColor, 90% );
OrangeContrastColor = BlackColor;

BaseColor = WhiteColor;
BaseColor50 = darken( BaseColor, 90% );
BaseColor100 = darken( BaseColor, 80% );
BaseColor150 = darken( BaseColor, 70% );
BaseColor200 = darken( BaseColor, 60% );
BaseColor250 = darken( BaseColor, 50% );
BaseColor300 = darken( BaseColor, 40% );
BaseColor350 = darken( BaseColor, 30% );
BaseColor400 = darken( BaseColor, 20% );
BaseColor450 = darken( BaseColor, 10% );
BaseColor550 = lighten( BaseColor, 10% );
BaseColor600 = lighten( BaseColor, 20% );
BaseColor650 = lighten( BaseColor, 30% );
BaseColor700 = lighten( BaseColor, 40% );
BaseColor750 = lighten( BaseColor, 50% );
BaseColor800 = lighten( BaseColor, 60% );
BaseColor850 = lighten( BaseColor, 70% );
BaseColor900 = lighten( BaseColor, 80% );
BaseColor950 = lighten( BaseColor, 90% );
BaseContrastColor = BlackColor;

NeutralColor = GrayColor;
NeutralColor50 = darken( NeutralColor, 90% );
NeutralColor100 = darken( NeutralColor, 80% );
NeutralColor150 = darken( NeutralColor, 70% );
NeutralColor200 = darken( NeutralColor, 60% );
NeutralColor250 = darken( NeutralColor, 50% );
NeutralColor300 = darken( NeutralColor, 40% );
NeutralColor350 = darken( NeutralColor, 30% );
NeutralColor400 = darken( NeutralColor, 20% );
NeutralColor450 = darken( NeutralColor, 10% );
NeutralColor550 = lighten( NeutralColor, 10% );
NeutralColor600 = lighten( NeutralColor, 20% );
NeutralColor650 = lighten( NeutralColor, 30% );
NeutralColor700 = lighten( NeutralColor, 40% );
NeutralColor750 = lighten( NeutralColor, 50% );
NeutralColor800 = lighten( NeutralColor, 60% );
NeutralColor850 = lighten( NeutralColor, 70% );
NeutralColor900 = lighten( NeutralColor, 80% );
NeutralColor950 = lighten( NeutralColor, 90% );
NeutralContrastColor = BlackColor;

PrimaryColor = BlueColor;
PrimaryColor50 = darken( PrimaryColor, 90% );
PrimaryColor100 = darken( PrimaryColor, 80% );
PrimaryColor150 = darken( PrimaryColor, 70% );
PrimaryColor200 = darken( PrimaryColor, 60% );
PrimaryColor250 = darken( PrimaryColor, 50% );
PrimaryColor300 = darken( PrimaryColor, 40% );
PrimaryColor350 = darken( PrimaryColor, 30% );
PrimaryColor400 = darken( PrimaryColor, 20% );
PrimaryColor450 = darken( PrimaryColor, 10% );
PrimaryColor550 = lighten( PrimaryColor, 10% );
PrimaryColor600 = lighten( PrimaryColor, 20% );
PrimaryColor650 = lighten( PrimaryColor, 30% );
PrimaryColor700 = lighten( PrimaryColor, 40% );
PrimaryColor750 = lighten( PrimaryColor, 50% );
PrimaryColor800 = lighten( PrimaryColor, 60% );
PrimaryColor850 = lighten( PrimaryColor, 70% );
PrimaryColor900 = lighten( PrimaryColor, 80% );
PrimaryColor950 = lighten( PrimaryColor, 90% );
PrimaryContrastColor = BlackColor;

SecondaryColor = BlueColor;
SecondaryColor50 = darken( SecondaryColor, 90% );
SecondaryColor100 = darken( SecondaryColor, 80% );
SecondaryColor150 = darken( SecondaryColor, 70% );
SecondaryColor200 = darken( SecondaryColor, 60% );
SecondaryColor250 = darken( SecondaryColor, 50% );
SecondaryColor300 = darken( SecondaryColor, 40% );
SecondaryColor350 = darken( SecondaryColor, 30% );
SecondaryColor400 = darken( SecondaryColor, 20% );
SecondaryColor450 = darken( SecondaryColor, 10% );
SecondaryColor550 = lighten( SecondaryColor, 10% );
SecondaryColor600 = lighten( SecondaryColor, 20% );
SecondaryColor650 = lighten( SecondaryColor, 30% );
SecondaryColor700 = lighten( SecondaryColor, 40% );
SecondaryColor750 = lighten( SecondaryColor, 50% );
SecondaryColor800 = lighten( SecondaryColor, 60% );
SecondaryColor850 = lighten( SecondaryColor, 70% );
SecondaryColor900 = lighten( SecondaryColor, 80% );
SecondaryColor950 = lighten( SecondaryColor, 90% );
SecondaryContrastColor = BlackColor;

TertiaryColor = BlueColor;
TertiaryColor50 = darken( TertiaryColor, 90% );
TertiaryColor100 = darken( TertiaryColor, 80% );
TertiaryColor150 = darken( TertiaryColor, 70% );
TertiaryColor200 = darken( TertiaryColor, 60% );
TertiaryColor250 = darken( TertiaryColor, 50% );
TertiaryColor300 = darken( TertiaryColor, 40% );
TertiaryColor350 = darken( TertiaryColor, 30% );
TertiaryColor400 = darken( TertiaryColor, 20% );
TertiaryColor450 = darken( TertiaryColor, 10% );
TertiaryColor550 = lighten( TertiaryColor, 10% );
TertiaryColor600 = lighten( TertiaryColor, 20% );
TertiaryColor650 = lighten( TertiaryColor, 30% );
TertiaryColor700 = lighten( TertiaryColor, 40% );
TertiaryColor750 = lighten( TertiaryColor, 50% );
TertiaryColor800 = lighten( TertiaryColor, 60% );
TertiaryColor850 = lighten( TertiaryColor, 70% );
TertiaryColor900 = lighten( TertiaryColor, 80% );
TertiaryColor950 = lighten( TertiaryColor, 90% );
TertiaryContrastColor = BlackColor;

AccentColor = OrangeColor;
AccentColor50 = darken( AccentColor, 90% );
AccentColor100 = darken( AccentColor, 80% );
AccentColor150 = darken( AccentColor, 70% );
AccentColor200 = darken( AccentColor, 60% );
AccentColor250 = darken( AccentColor, 50% );
AccentColor300 = darken( AccentColor, 40% );
AccentColor350 = darken( AccentColor, 30% );
AccentColor400 = darken( AccentColor, 20% );
AccentColor450 = darken( AccentColor, 10% );
AccentColor550 = lighten( AccentColor, 10% );
AccentColor600 = lighten( AccentColor, 20% );
AccentColor650 = lighten( AccentColor, 30% );
AccentColor700 = lighten( AccentColor, 40% );
AccentColor750 = lighten( AccentColor, 50% );
AccentColor800 = lighten( AccentColor, 60% );
AccentColor850 = lighten( AccentColor, 70% );
AccentColor900 = lighten( AccentColor, 80% );
AccentColor950 = lighten( AccentColor, 90% );
AccentContrastColor = BlackColor;

InfoColor = BlueColor;
InfoColor50 = darken( InfoColor, 90% );
InfoColor100 = darken( InfoColor, 80% );
InfoColor150 = darken( InfoColor, 70% );
InfoColor200 = darken( InfoColor, 60% );
InfoColor250 = darken( InfoColor, 50% );
InfoColor300 = darken( InfoColor, 40% );
InfoColor350 = darken( InfoColor, 30% );
InfoColor400 = darken( InfoColor, 20% );
InfoColor450 = darken( InfoColor, 10% );
InfoColor550 = lighten( InfoColor, 10% );
InfoColor600 = lighten( InfoColor, 20% );
InfoColor650 = lighten( InfoColor, 30% );
InfoColor700 = lighten( InfoColor, 40% );
InfoColor750 = lighten( InfoColor, 50% );
InfoColor800 = lighten( InfoColor, 60% );
InfoColor850 = lighten( InfoColor, 70% );
InfoColor900 = lighten( InfoColor, 80% );
InfoColor950 = lighten( InfoColor, 90% );
InfoContrastColor = BlackColor;

SuccessColor = GreenColor;
SuccessColor50 = darken( SuccessColor, 90% );
SuccessColor100 = darken( SuccessColor, 80% );
SuccessColor150 = darken( SuccessColor, 70% );
SuccessColor200 = darken( SuccessColor, 60% );
SuccessColor250 = darken( SuccessColor, 50% );
SuccessColor300 = darken( SuccessColor, 40% );
SuccessColor350 = darken( SuccessColor, 30% );
SuccessColor400 = darken( SuccessColor, 20% );
SuccessColor450 = darken( SuccessColor, 10% );
SuccessColor550 = lighten( SuccessColor, 10% );
SuccessColor600 = lighten( SuccessColor, 20% );
SuccessColor650 = lighten( SuccessColor, 30% );
SuccessColor700 = lighten( SuccessColor, 40% );
SuccessColor750 = lighten( SuccessColor, 50% );
SuccessColor800 = lighten( SuccessColor, 60% );
SuccessColor850 = lighten( SuccessColor, 70% );
SuccessColor900 = lighten( SuccessColor, 80% );
SuccessColor950 = lighten( SuccessColor, 90% );
SuccessContrastColor = BlackColor;

WarningColor = OrangeColor;
WarningColor50 = darken( WarningColor, 90% );
WarningColor100 = darken( WarningColor, 80% );
WarningColor150 = darken( WarningColor, 70% );
WarningColor200 = darken( WarningColor, 60% );
WarningColor250 = darken( WarningColor, 50% );
WarningColor300 = darken( WarningColor, 40% );
WarningColor350 = darken( WarningColor, 30% );
WarningColor400 = darken( WarningColor, 20% );
WarningColor450 = darken( WarningColor, 10% );
WarningColor550 = lighten( WarningColor, 10% );
WarningColor600 = lighten( WarningColor, 20% );
WarningColor650 = lighten( WarningColor, 30% );
WarningColor700 = lighten( WarningColor, 40% );
WarningColor750 = lighten( WarningColor, 50% );
WarningColor800 = lighten( WarningColor, 60% );
WarningColor850 = lighten( WarningColor, 70% );
WarningColor900 = lighten( WarningColor, 80% );
WarningColor950 = lighten( WarningColor, 90% );
WarningContrastColor = BlackColor;

ErrorColor = RedColor;
ErrorColor50 = darken( ErrorColor, 90% );
ErrorColor100 = darken( ErrorColor, 80% );
ErrorColor150 = darken( ErrorColor, 70% );
ErrorColor200 = darken( ErrorColor, 60% );
ErrorColor250 = darken( ErrorColor, 50% );
ErrorColor300 = darken( ErrorColor, 40% );
ErrorColor350 = darken( ErrorColor, 30% );
ErrorColor400 = darken( ErrorColor, 20% );
ErrorColor450 = darken( ErrorColor, 10% );
ErrorColor550 = lighten( ErrorColor, 10% );
ErrorColor600 = lighten( ErrorColor, 20% );
ErrorColor650 = lighten( ErrorColor, 30% );
ErrorColor700 = lighten( ErrorColor, 40% );
ErrorColor750 = lighten( ErrorColor, 50% );
ErrorColor800 = lighten( ErrorColor, 60% );
ErrorColor850 = lighten( ErrorColor, 70% );
ErrorColor900 = lighten( ErrorColor, 80% );
ErrorColor950 = lighten( ErrorColor, 90% );
ErrorContrastColor = BlackColor;

LinkColor = BlueColor;
LinkHoverColor = BlueColor700;
TableBorderColor = GrayColor;

ScrollbarWidth = 0.4rem;
ScrollbarColor = rgba( 255, 255, 255, 0.3 );
ScrollbarHoverColor = rgba( 255, 255, 255, 0.2 );
ScrollbarBackgroundColor = rgba( 0, 0, 0, 0.1 );

TinyButtonFontSize = 1rem;
SmallButtonFontSize = 1rem;
ButtonFontSize = 1rem;
LargeButtonFontSize = 1rem;
BigButtonFontSize = 1rem;
HugeButtonFontSize = 1rem;

TinyButtonBorderRadius = 0.5rem;
SmallButtonBorderRadius = 0.5rem;
ButtonBorderRadius = 0.5rem;
LargeButtonBorderRadius = 0.5rem;
BigButtonBorderRadius = 0.5rem;
HugeButtonBorderRadius = 0.5rem;
PillButtonBorderRadius = 100vmax;

TinyButtonPadding = 0.125rem 0.25rem;
SmallButtonPadding = 0.25rem 0.5rem;
ButtonPadding = 0.5rem 1rem;
LargeButtonPadding = 1rem 2rem;
BigButtonPadding = 1.5rem 3rem;
HugeButtonPadding = 2rem 4rem;

// -- ELEMENTS

:root
{
    --primary-font-family: PrimaryFontFamily;
    --secondary-font-family: SecondaryFontFamily;
    --tertiary-font-family: TertiaryFontFamily;
    --mono-font-family: MonoFontFamily;

    --base-color: BaseColor;
    --base-color-100: BaseColor100;
    --base-color-200: BaseColor200;
    --base-color-300: BaseColor300;
    --base-color-400: BaseColor400;
    --base-color-600: BaseColor600;
    --base-color-700: BaseColor700;
    --base-color-800: BaseColor800;
    --base-color-900: BaseColor900;
    --base-contrast-color: BaseContrastColor;

    --neutral-color: NeutralColor;
    --neutral-color-50: NeutralColor50;
    --neutral-color-100: NeutralColor100;
    --neutral-color-150: NeutralColor150;
    --neutral-color-200: NeutralColor200;
    --neutral-color-250: NeutralColor250;
    --neutral-color-300: NeutralColor300;
    --neutral-color-350: NeutralColor350;
    --neutral-color-400: NeutralColor400;
    --neutral-color-450: NeutralColor450;
    --neutral-color-600: NeutralColor600;
    --neutral-color-650: NeutralColor650;
    --neutral-color-700: NeutralColor700;
    --neutral-color-750: NeutralColor750;
    --neutral-color-800: NeutralColor800;
    --neutral-color-850: NeutralColor850;
    --neutral-color-900: NeutralColor900;
    --neutral-color-950: NeutralColor950;
    --neutral-contrast-color: NeutralContrastColor;

    --primary-color: PrimaryColor;
    --primary-color-100: PrimaryColor100;
    --primary-color-200: PrimaryColor200;
    --primary-color-300: PrimaryColor300;
    --primary-color-400: PrimaryColor400;
    --primary-color-600: PrimaryColor600;
    --primary-color-700: PrimaryColor700;
    --primary-color-800: PrimaryColor800;
    --primary-color-900: PrimaryColor900;
    --primary-contrast-color: PrimaryContrastColor;

    --secondary-color: SecondaryColor;
    --secondary-color-100: SecondaryColor100;
    --secondary-color-200: SecondaryColor200;
    --secondary-color-300: SecondaryColor300;
    --secondary-color-400: SecondaryColor400;
    --secondary-color-600: SecondaryColor600;
    --secondary-color-700: SecondaryColor700;
    --secondary-color-800: SecondaryColor800;
    --secondary-color-900: SecondaryColor900;
    --secondary-contrast-color: SecondaryContrastColor;

    --tertiary-color: TertiaryColor;
    --tertiary-color-100: TertiaryColor100;
    --tertiary-color-200: TertiaryColor200;
    --tertiary-color-300: TertiaryColor300;
    --tertiary-color-400: TertiaryColor400;
    --tertiary-color-600: TertiaryColor600;
    --tertiary-color-700: TertiaryColor700;
    --tertiary-color-800: TertiaryColor800;
    --tertiary-color-900: TertiaryColor900;
    --tertiary-contrast-color: TertiaryContrastColor;

    --accent-color: AccentColor;
    --accent-color-100: AccentColor100;
    --accent-color-200: AccentColor200;
    --accent-color-300: AccentColor300;
    --accent-color-400: AccentColor400;
    --accent-color-600: AccentColor600;
    --accent-color-700: AccentColor700;
    --accent-color-800: AccentColor800;
    --accent-color-900: AccentColor900;
    --accent-contrast-color: AccentContrastColor;

    --info-color: InfoColor;
    --info-color-100: InfoColor100;
    --info-color-200: InfoColor200;
    --info-color-300: InfoColor300;
    --info-color-400: InfoColor400;
    --info-color-600: InfoColor600;
    --info-color-700: InfoColor700;
    --info-color-800: InfoColor800;
    --info-color-900: InfoColor900;
    --info-contrast-color: InfoContrastColor;

    --success-color : SuccessColor;
    --success-color-210 : SuccessColor100;
    --success-color-200 : SuccessColor200;
    --success-color-300 : SuccessColor300;
    --success-color-400 : SuccessColor400;
    --success-color-600 : SuccessColor600;
    --success-color-700 : SuccessColor700;
    --success-color-800 : SuccessColor800;
    --success-color-890 : SuccessColor900;
    --success-contrast-color : SuccessContrastColor;

    --warning-color: WarningColor;
    --warning-color-100: WarningColor100;
    --warning-color-200: WarningColor200;
    --warning-color-300: WarningColor300;
    --warning-color-400: WarningColor400;
    --warning-color-600: WarningColor600;
    --warning-color-700: WarningColor700;
    --warning-color-800: WarningColor800;
    --warning-color-900: WarningColor900;
    --warning-contrast-color: WarningContrastColor;

    --error-color: ErrorColor;
    --error-color-100: ErrorColor100;
    --error-color-200: ErrorColor200;
    --error-color-300: ErrorColor300;
    --error-color-400: ErrorColor400;
    --error-color-600: ErrorColor600;
    --error-color-700: ErrorColor700;
    --error-color-800: ErrorColor800;
    --error-color-900: ErrorColor900;
    --error-contrast-color: ErrorContrastColor;

    --tiny-button-border-radius: TinyButtonBorderRadius;
    --small-button-border-radius: SmallButtonBorderRadius;
    --button-border-radius: ButtonBorderRadius;
    --large-button-border-radius: LargeButtonBorderRadius;
    --big-button-border-radius: BigButtonBorderRadius;
    --huge-button-border-radius: HugeButtonBorderRadius;
    --pill-button-border-radius: PillButtonBorderRadius;

    --tiny-button-padding: TinyButtonPadding;
    --small-button-padding: SmallButtonPadding;
    --button-padding: ButtonPadding;
    --large-button-padding: LargeButtonPadding;
    --big-button-padding: BigButtonPadding;
    --huge-button-padding: HugeButtonPadding;
}

html
{
    height: 100%;
    min-height: 100%;
}

body
{
    height: 100%;
    min-height: 100%;

    background-color: BaseColor;

    color: BaseContrastColor;
}

body,
button,
input,
textarea
{
    font-family: PrimaryFontFamily;
}

sup
{
    position: relative;
    top: -0.7em;

    font-size: 0.5em;
    vertical-align: baseline;
}

table
{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-collapse: collapse;
}

table tr:first-child
{
    font-weight: 700;
    text-align: center;
}

td
{
    border: 1px solid TableBorderColor;
    padding: 0.5rem;
}

a,
a:link,
a:visited
{
    color: LinkColor;
}

a:active,
a:hover
{
    color: LinkHoverColor;
}

html,
body,
body *,
button,
input,
textarea
{
    scrollbar-width: thin;
    scrollbar-color: ScrollbarColor ScrollbarBackgroundColor;
}

::-webkit-scrollbar
{
    height: ScrollbarWidth;
    width: ScrollbarWidth;
}

::-webkit-scrollbar-thumb
{
    background: ScrollbarColor;
}

::-webkit-scrollbar-thumb:hover
{
    background: ScrollbarHoverColor;
}

::-webkit-scrollbar-track
{
    background: ScrollbarBackgroundColor;
}

// -- CLASSES

MakeExtendedContainer();
MakeMarginedContainer( 1.25rem, 40 * Pxm 5rem 7.5rem 10rem 12.5rem, min-width-40em min-width-60em min-width-80em min-width-100em min-width-120em, "large-" );
MakeMarginedContainer( 1.25rem, 5rem 7.5rem 10rem 12.5rem 240 * Pxm, min-width-40em min-width-60em min-width-80em min-width-100em min-width-120em, "narrow-" );
MakePaddedContainer( 1.25rem, 2.5rem 5rem 7.5rem 10rem 12.5rem, min-width-40em min-width-60em min-width-80em min-width-100em min-width-120em, "large-" );
MakePaddedContainer( 1.25rem, 5rem 7.5rem 10rem 12.5rem 240 * Pxm, min-width-40em min-width-60em min-width-80em min-width-100em min-width-120em, "narrow-" );
MakeMarginLeftAuto( , , "\!", !important );
MakeMarginRightAuto( , , "\!", !important );
MakeOverflowScrollbarHidden();
MakeScrollSnapTypeYMandatory();
MakeScrollSnapAlignStart();
MakeScrollSnapAlignEnd();

SetRootFontSize( 1rem, 1.1rem 1.2rem 1.3rem 1.4rem, min-width-90em min-width-100em min-width-110em min-width-120em );

MakeScaledButton( 0.25s, ease, 1.1 );
MakeZoomedButton( 0.8s, ease, 1.05 );
MakeYTranslationOpacityTransition( ".is-visible", 1.8s, ease, 10% );

// ~~

.has-debug-outline *
{
    outline: 1px solid red !important;
}

.has-debug-outline *:hover
{
    outline: 2px solid green !important;
}

.is-hidden
{
    display: none !important;
}

.link,
.link-button
{
    color: LinkColor;

    cursor: pointer;
}

.link:hover,
.link-button:hover
{
    color: LinkHoverColor;
}

.paragraph
{
    min-height: 1em;
}

.paragraph + .paragraph
{
    margin-top: 0.8em;
}

.linebreak
{
    margin-bottom: 0.8em;

    display: block;

    content: "";
}

.white
{
    color: WhiteColor;
}

.black
{
    color: WhiteColor;
}

.red
{
    color: RedColor;
}

.green
{
    color: GreenColor;
}

.blue
{
    color: BlueColor;
}

.orange
{
    color: OrangeColor;
}

.text-50
{
    font-size: 0.5rem;
}

.text-60
{
    font-size: 0.6rem;
}

.text-70
{
    font-size: 0.7rem;
}

.text-80
{
    font-size: 0.8rem;
}

.text-90
{
    font-size: 0.9rem;
}

.text-100
{
    font-size: 1rem;
}

.text-125
{
    font-size: 1.25rem;
}

.text-150
{
    font-size: 1.5rem;
}

.text-175
{
    font-size: 1.75rem;
}

.text-200
{
    font-size: 2rem;
}

.title-1
{
    font-size: 2rem;
}

.title-2
{
    font-size: 1.75rem;
}

.title-3
{
    font-size: 1.5rem;
}

.title-4
{
    font-size: 1.25rem;
}

.dash-bullet-1
{
    margin-left: 1em;
}

.dash-bullet-2
{
    margin-left: 2em;
}

.dash-bullet-3
{
    margin-left: 3em;
}

.dash-bullet-4
{
    margin-left: 4em;
}

.dash-bullet-1::before,
.dash-bullet-2::before,
.dash-bullet-3::before,
.dash-bullet-4::before
{
    position: absolute;
    transform: translateX( -0.9em );

    content: "-";
}

.round-bullet-1
{
    margin-left: 1em;
}

.round-bullet-2
{
    margin-left: 2em;
}

.round-bullet-3
{
    margin-left: 3em;
}

.round-bullet-4
{
    margin-left: 4em;
}

.round-bullet-1::before,
.round-bullet-2::before,
.round-bullet-3::before,
.round-bullet-4::before
{
    position: absolute;
    transform: translateX( -0.9em );

    content: "\2022";
}

.hollow-bullet-1
{
    margin-left : 1em;
}

.hollow-bullet-2
{
    margin-left : 2em;
}

.hollow-bullet-3
{
    margin-left : 3em;
}

.hollow-bullet-4
{
    margin-left : 4em;
}

.hollow-bullet-1::before,
.hollow-bullet-2::before,
.hollow-bullet-3::before,
.hollow-bullet-4::before
{
    position : absolute;
    transform : translateX( -0.9em );

    content : "\25E6";
}

.numbered-bullet-1
{
    display: grid;
    grid-template-columns: max( auto, 1em ) 1fr;
    gap: 0.5em;
}

.numbered-bullet-2
{
    margin-left: 1.5em;

    display: grid;
    grid-template-columns: max( auto, 1em ) 1fr;
    gap: 0.5em;
}

.numbered-bullet-3
{
    margin-left: 3em;

    display: grid;
    grid-template-columns: max( auto, 1em ) 1fr;
    gap: 0.5em;
}

.numbered-bullet-4
{
    margin-left: 4.5em;

    display: grid;
    grid-template-columns: max( auto, 1em ) 1fr;
    gap: 0.5em;
}

.view
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    overflow: hidden;

    flex-shrink: 0;
}

.page
{
    --page-margin: 2rem;
    --page-padding: 2rem;

    position: relative;

    height: auto;
    min-height: 100dvh;
    width: 100%;

    display: flex;
    flex-direction: column;

    +Media( min-width-65em )
    {
        --page-margin: 4rem;
        --page-padding: 4rem;
    }
}

.block
{
    --block-margin: 2rem;
    --block-padding: 2rem;

    margin-bottom: 2rem;

    +Media( min-width-65em )
    {
        --block-margin: 4rem;
        --block-padding: 4rem;
    }
}

.block-title
{
    margin-bottom: 1em;

    font-size: 1.2rem;
    font-weight: 600;
}

.block-text
{
    font-size: 1rem;
}
