// -- CONSTANTS

PrimaryFontFamily = Ubuntu, sans-serif;
SecondaryFontFamily = Ubuntu, sans-serif;
TertiaryFontFamily = Ubuntu, sans-serif;
MonospaceFontFamily = monospace;

BlackColor = #000000;
WhiteColor = #FFFFFF;

GrayColor = #808080;
GrayColor200 = darken( GrayColor, 60% );
GrayColor300 = darken( GrayColor, 40% );
GrayColor400 = darken( GrayColor, 20% );
GrayColor600 = lighten( GrayColor, 20% );
GrayColor700 = lighten( GrayColor, 40% );
GrayColor800 = lighten( GrayColor, 60% );
GrayContrastColor = BlackColor;

RedColor = #F87272;
RedColor200 = darken( RedColor, 60% );
RedColor300 = darken( RedColor, 40% );
RedColor400 = darken( RedColor, 20% );
RedColor600 = lighten( RedColor, 20% );
RedColor700 = lighten( RedColor, 40% );
RedColor800 = lighten( RedColor, 60% );
RedContrastColor = BlackColor;

GreenColor = #36D399;
GreenColor200 = darken( GreenColor, 60% );
GreenColor300 = darken( GreenColor, 40% );
GreenColor400 = darken( GreenColor, 20% );
GreenColor600 = lighten( GreenColor, 20% );
GreenColor700 = lighten( GreenColor, 40% );
GreenColor800 = lighten( GreenColor, 60% );
GreenContrastColor = BlackColor;

BlueColor = #3ABFF8;
BlueColor200 = darken( BlueColor, 60% );
BlueColor300 = darken( BlueColor, 40% );
BlueColor400 = darken( BlueColor, 20% );
BlueColor600 = lighten( BlueColor, 20% );
BlueColor700 = lighten( BlueColor, 40% );
BlueColor800 = lighten( BlueColor, 60% );
BlueContrastColor = BlackColor;

OrangeColor = #FBBD23;
OrangeColor200 = darken( OrangeColor, 60% );
OrangeColor300 = darken( OrangeColor, 40% );
OrangeColor400 = darken( OrangeColor, 20% );
OrangeColor600 = lighten( OrangeColor, 20% );
OrangeColor700 = lighten( OrangeColor, 40% );
OrangeColor800 = lighten( OrangeColor, 60% );
OrangeContrastColor = BlackColor;

BaseColor = WhiteColor;
BaseColor200 = darken( BaseColor, 60% );
BaseColor300 = darken( BaseColor, 40% );
BaseColor400 = darken( BaseColor, 20% );
BaseColor600 = lighten( BaseColor, 20% );
BaseColor700 = lighten( BaseColor, 40% );
BaseColor800 = lighten( BaseColor, 60% );
BaseContrastColor = BlackColor;

NeutralColor = GrayColor;
NeutralColor200 = darken( NeutralColor, 60% );
NeutralColor300 = darken( NeutralColor, 40% );
NeutralColor400 = darken( NeutralColor, 20% );
NeutralColor600 = lighten( NeutralColor, 20% );
NeutralColor700 = lighten( NeutralColor, 40% );
NeutralColor800 = lighten( NeutralColor, 60% );
NeutralContrastColor = BlackColor;

PrimaryColor = BlueColor;
PrimaryColor200 = darken( PrimaryColor, 60% );
PrimaryColor300 = darken( PrimaryColor, 40% );
PrimaryColor400 = darken( PrimaryColor, 20% );
PrimaryColor600 = lighten( PrimaryColor, 20% );
PrimaryColor700 = lighten( PrimaryColor, 40% );
PrimaryColor800 = lighten( PrimaryColor, 60% );
PrimaryContrastColor = BlackColor;

SecondaryColor = BlueColor;
SecondaryColor200 = darken( SecondaryColor, 60% );
SecondaryColor300 = darken( SecondaryColor, 40% );
SecondaryColor400 = darken( SecondaryColor, 20% );
SecondaryColor600 = lighten( SecondaryColor, 20% );
SecondaryColor700 = lighten( SecondaryColor, 40% );
SecondaryColor800 = lighten( SecondaryColor, 60% );
SecondaryContrastColor = BlackColor;

TertiaryColor = BlueColor;
TertiaryColor200 = darken( TertiaryColor, 60% );
TertiaryColor300 = darken( TertiaryColor, 40% );
TertiaryColor400 = darken( TertiaryColor, 20% );
TertiaryColor600 = lighten( TertiaryColor, 20% );
TertiaryColor700 = lighten( TertiaryColor, 40% );
TertiaryColor800 = lighten( TertiaryColor, 60% );
TertiaryContrastColor = BlackColor;

AccentColor = OrangeColor;
AccentColor200 = darken( AccentColor, 60% );
AccentColor300 = darken( AccentColor, 40% );
AccentColor400 = darken( AccentColor, 20% );
AccentColor600 = lighten( AccentColor, 20% );
AccentColor700 = lighten( AccentColor, 40% );
AccentColor800 = lighten( AccentColor, 60% );
AccentContrastColor = BlackColor;

InfoColor = BlueColor;
InfoColor200 = darken( InfoColor, 60% );
InfoColor300 = darken( InfoColor, 40% );
InfoColor400 = darken( InfoColor, 20% );
InfoColor600 = lighten( InfoColor, 20% );
InfoColor700 = lighten( InfoColor, 40% );
InfoColor800 = lighten( InfoColor, 60% );
InfoContrastColor = BlackColor;

SuccessColor = GreenColor;
SuccessColor200  = darken( SuccessColor, 60% );
SuccessColor300  = darken( SuccessColor, 40% );
SuccessColor400  = darken( SuccessColor, 20% );
SuccessColor600  = lighten( SuccessColor, 20% );
SuccessColor700  = lighten( SuccessColor, 40% );
SuccessColor800  = lighten( SuccessColor, 60% );
SuccessContrastColor = BlackColor;

WarningColor = OrangeColor;
WarningColor200 = darken( WarningColor, 60% );
WarningColor300 = darken( WarningColor, 40% );
WarningColor400 = darken( WarningColor, 20% );
WarningColor600 = lighten( WarningColor, 20% );
WarningColor700 = lighten( WarningColor, 40% );
WarningColor800 = lighten( WarningColor, 60% );
WarningContrastColor = BlackColor;

ErrorColor = RedColor;
ErrorColor200 = darken( ErrorColor, 60% );
ErrorColor300 = darken( ErrorColor, 40% );
ErrorColor400 = darken( ErrorColor, 20% );
ErrorColor600 = lighten( ErrorColor, 20% );
ErrorColor700 = lighten( ErrorColor, 40% );
ErrorColor800 = lighten( ErrorColor, 60% );
ErrorContrastColor = BlackColor;

LinkColor = #86B4F0;
LinkHoverColor = #A2C2EC;
TableBorderColor = #888888;

ScrollbarWidth = 0.4rem;
ScrollbarColor = rgba( 255, 255, 255, 0.3 );
ScrollbarHoverColor = rgba( 255, 255, 255, 0.2 );
ScrollbarBackgroundColor = rgba( 0, 0, 0, 0.1 );

TinyButtonFontSize = 1rem;
SmallButtonFontSize = 1rem;
ButtonFontSize = 1rem;
LargeButtonFontSize = 1rem;
BigButtonFontSize = 1rem;
HugeButtonFontSize = 1rem;

TinyButtonBorderRadius = 0.5rem;
SmallButtonBorderRadius = 0.5rem;
ButtonBorderRadius = 0.5rem;
LargeButtonBorderRadius = 0.5rem;
BigButtonBorderRadius = 0.5rem;
HugeButtonBorderRadius = 0.5rem;
PillButtonBorderRadius = 100vmax;

TinyButtonPadding = 0.125rem 0.25rem;
SmallButtonPadding = 0.25rem 0.5rem;
ButtonPadding = 0.5rem 1rem;
LargeButtonPadding = 1rem 2rem;
BigButtonPadding = 1.5rem 3rem;
HugeButtonPadding = 2rem 4rem;

// -- ELEMENTS

:root
{
    --primary-font-family: PrimaryFontFamily;
    --secondary-font-family: SecondaryFontFamily;
    --tertiary-font-family: TertiaryFontFamily;
    --mono-font-family: MonoFontFamily;

    --base-color: BaseColor;
    --base-color-200: BaseColor200;
    --base-color-300: BaseColor300;
    --base-color-400: BaseColor400;
    --base-color-600: BaseColor600;
    --base-color-700: BaseColor700;
    --base-color-800: BaseColor800;
    --base-contrast-color: BaseContrastColor;

    --neutral-color: NeutralColor;
    --neutral-color-200: NeutralColor200;
    --neutral-color-300: NeutralColor300;
    --neutral-color-400: NeutralColor400;
    --neutral-color-600: NeutralColor600;
    --neutral-color-700: NeutralColor700;
    --neutral-color-800: NeutralColor800;
    --neutral-contrast-color: NeutralContrastColor;

    --primary-color: PrimaryColor;
    --primary-color-200: PrimaryColor200;
    --primary-color-300: PrimaryColor300;
    --primary-color-400: PrimaryColor400;
    --primary-color-600: PrimaryColor600;
    --primary-color-700: PrimaryColor700;
    --primary-color-800: PrimaryColor800;
    --primary-contrast-color: PrimaryContrastColor;

    --secondary-color: SecondaryColor;
    --secondary-color-200: SecondaryColor200;
    --secondary-color-300: SecondaryColor300;
    --secondary-color-400: SecondaryColor400;
    --secondary-color-600: SecondaryColor600;
    --secondary-color-700: SecondaryColor700;
    --secondary-color-800: SecondaryColor800;
    --secondary-contrast-color: SecondaryContrastColor;

    --tertiary-color: TertiaryColor;
    --tertiary-color-200: TertiaryColor200;
    --tertiary-color-300: TertiaryColor300;
    --tertiary-color-400: TertiaryColor400;
    --tertiary-color-600: TertiaryColor600;
    --tertiary-color-700: TertiaryColor700;
    --tertiary-color-800: TertiaryColor800;
    --tertiary-contrast-color: TertiaryContrastColor;

    --accent-color: AccentColor;
    --accent-color-200: AccentColor200;
    --accent-color-300: AccentColor300;
    --accent-color-400: AccentColor400;
    --accent-color-600: AccentColor600;
    --accent-color-700: AccentColor700;
    --accent-color-800: AccentColor800;
    --accent-contrast-color: AccentContrastColor;

    --info-color: InfoColor;
    --info-color-200: InfoColor200;
    --info-color-300: InfoColor300;
    --info-color-400: InfoColor400;
    --info-color-600: InfoColor600;
    --info-color-700: InfoColor700;
    --info-color-800: InfoColor800;
    --info-contrast-color: InfoContrastColor;

    --success-color : SuccessColor;
    --success-color-200 : SuccessColor200;
    --success-color-300 : SuccessColor300;
    --success-color-400 : SuccessColor400;
    --success-color-600 : SuccessColor600;
    --success-color-700 : SuccessColor700;
    --success-color-800 : SuccessColor800;
    --success-contrast-color : SuccessContrastColor;

    --warning-color: WarningColor;
    --warning-color-200: WarningColor200;
    --warning-color-300: WarningColor300;
    --warning-color-400: WarningColor400;
    --warning-color-600: WarningColor600;
    --warning-color-700: WarningColor700;
    --warning-color-800: WarningColor800;
    --warning-contrast-color: WarningContrastColor;

    --error-color: ErrorColor;
    --error-color-200: ErrorColor200;
    --error-color-300: ErrorColor300;
    --error-color-400: ErrorColor400;
    --error-color-600: ErrorColor600;
    --error-color-700: ErrorColor700;
    --error-color-800: ErrorColor800;
    --error-contrast-color: ErrorContrastColor;

    --tiny-button-border-radius: TinyButtonBorderRadius;
    --small-button-border-radius: SmallButtonBorderRadius;
    --button-border-radius: ButtonBorderRadius;
    --large-button-border-radius: LargeButtonBorderRadius;
    --big-button-border-radius: BigButtonBorderRadius;
    --huge-button-border-radius: HugeButtonBorderRadius;
    --pill-button-border-radius: PillButtonBorderRadius;

    --tiny-button-padding: TinyButtonPadding;
    --small-button-padding: SmallButtonPadding;
    --button-padding: ButtonPadding;
    --large-button-padding: LargeButtonPadding;
    --big-button-padding: BigButtonPadding;
    --huge-button-padding: HugeButtonPadding;
}

html
{
    height: 100%;
    min-height: 100%;
}

body
{
    height: 100%;
    min-height: 100%;

    background-color: BaseColor;

    color: BaseContrastColor;
}

body,
button,
input,
textarea
{
    font-family: "Ubuntu", sans-serif;
}

sup
{
    position: relative;
    top: -0.7em;

    font-size: 0.5em;
    vertical-align: baseline;
}

table
{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-collapse: collapse;
}

table tr:first-child
{
    font-weight: 700;
    text-align: center;
}

td
{
    border: 1px solid TableBorderColor;
    padding: 0.5rem;
}

a,
a:link,
a:visited
{
    color: LinkColor;
}

a:active,
a:hover
{
    color: LinkHoverColor;
}

html,
body,
body *,
button,
input,
textarea
{
    scrollbar-width: thin;
    scrollbar-color: ScrollbarColor ScrollbarBackgroundColor;
}

::-webkit-scrollbar
{
    height: ScrollbarWidth;
    width: ScrollbarWidth;
}

::-webkit-scrollbar-thumb
{
    background: ScrollbarColor;
}

::-webkit-scrollbar-thumb:hover
{
    background: ScrollbarHoverColor;
}

::-webkit-scrollbar-track
{
    background: ScrollbarBackgroundColor;
}

// -- CLASSES

MakeExtendedContainer();
MakeMarginedContainer( 1.25rem, 40 * Pxm 5rem 7.5rem 10rem 12.5rem, min-width-40em min-width-60em min-width-80em min-width-100em min-width-120em, "large-" );
MakeMarginedContainer( 1.25rem, 5rem 7.5rem 10rem 12.5rem 240 * Pxm, min-width-40em min-width-60em min-width-80em min-width-100em min-width-120em, "narrow-" );
MakePaddedContainer( 1.25rem, 2.5rem 5rem 7.5rem 10rem 12.5rem, min-width-40em min-width-60em min-width-80em min-width-100em min-width-120em, "large-" );
MakePaddedContainer( 1.25rem, 5rem 7.5rem 10rem 12.5rem 240 * Pxm, min-width-40em min-width-60em min-width-80em min-width-100em min-width-120em, "narrow-" );
MakeMarginLeftAuto( , , "\!", !important );
MakeMarginRightAuto( , , "\!", !important );
MakeOverflowScrollbarHidden();
MakeScrollSnapTypeYMandatory();
MakeScrollSnapAlignStart();
MakeScrollSnapAlignEnd();

SetRootFontSize( 1rem, 1.1rem 1.2rem 1.3rem 1.4rem, min-width-90em min-width-100em min-width-110em min-width-120em );

MakeScaledButton( 0.25s, ease, 1.1 );
MakeZoomedButton( 0.8s, ease, 1.05 );
MakeYTranslationOpacityTransition( ".is-visible", 1.8s, ease, 10% );

// ~~

.is-hidden
{
    display: none !important;
}

.button
{
    cursor: pointer;
}

.link-button
{
    color: LinkColor;

    cursor: pointer;
}

.link-button:hover
{
    color: LinkHoverColor;
}

.paragraph
{
    min-height: 1em;
}

.paragraph + .paragraph
{
    margin-top: 0.8em;
}

.linebreak
{
    margin-bottom: 0.8em;
}

.title-1
{
    font-size: 2rem;
}

.title-2
{
    font-size: 1.75rem;
}

.title-3
{
    font-size: 1.5rem;
}

.title-4
{
    font-size: 1.25rem;
}

.dash-1
{
    margin-left: 1em;
}

.dash-2
{
    margin-left: 2em;
}

.dash-3
{
    margin-left: 3em;
}

.dash-4
{
    margin-left: 4em;
}

.dash-1::before,
.dash-2::before,
.dash-3::before,
.dash-4::before
{
    position: absolute;
    transform: translateX( -0.9em );

    content: "-";
}

.bullet-1
{
    margin-left: 1em;
}

.bullet-2
{
    margin-left: 2em;
}

.bullet-3
{
    margin-left: 3em;
}

.bullet-4
{
    margin-left: 4em;
}

.bullet-1::before,
.bullet-2::before,
.bullet-3::before,
.bullet-4::before
{
    position: absolute;
    transform: translateX( -0.9em );

    content: "\2022";
}

.view
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    overflow: hidden;

    flex-shrink: 0;
}

.page
{
    position: relative;

    height: auto;
    min-height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.block
{
    margin-bottom: 2rem;

    display: block;
    justify-content: center;
    align-items: stretch;

    +Media( min-width-65em )
    {
        margin-bottom: 2rem;

        display: flex;
    }
}

.block-column
{
    width: 100%;

    +Media( min-width-65em )
    {
        width: 50%;
    }
}

.block-image-column
{
    min-height: 60vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    +Media( min-width-65em )
    {
        min-height: 20rem;
    }
}

.block-text-column
{
    padding: 2rem;

    +Media( min-width-65em )
    {
        min-height: 20rem;
        padding: 5rem;
    }
}

.block-title
{
    margin-bottom: 1em;

    font-size: 1.2rem;
    font-weight: 600;
}

.block-text
{
    font-size: 1rem;
}
