// -- CONSTANTS

BlackColor = #000000;
DarkestGrayColor = #202020;
DarkerGrayColor = #404040;
DarkGrayColor = #808080;
GrayColor = #A0A0A0;
LightGrayColor = #C0C0C0;
LighterGrayColor = #F0F0F0;
LightestGrayColor = #F8F8F8;
WhiteColor = #FFFFFF;
RedColor = #FF0000;
GreenColor = #00FF00;
BlueColor = #0000FF;

LinkColor = #86B4F0;
LinkHoverColor = #A2C2EC;
TableBorderColor = #888888;

ScrollbarColor = rgba( 255, 255, 255, 0.3 );
ScrollbarHoverColor = rgba( 255, 255, 255, 0.2 );
ScrollbarBackgroundColor = rgba( 0, 0, 0, 0.1 );

// -- ELEMENTS

html
{
    height: 100%;
    min-height: 100%;
}

body
{
    height: 100%;
    min-height: 100%;

    background-color: GrayColor;
}

body,
button,
input,
textarea
{
    font-family: "Ubuntu", sans-serif;
}

sup
{
    position: relative;
    top: -0.7em;

    font-size: 0.5em;
    vertical-align: baseline;
}

table
{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-collapse: collapse;
}

table tr:first-child
{
    font-weight: 700;
    text-align: center;
}

td
{
    border: 1px solid TableBorderColor;
    padding: 0.5rem;
}

html,
body,
body *,
button,
input,
textarea
{
    scrollbar-width: thin;
    scrollbar-color: ScrollbarColor ScrollbarBackgroundColor;
}

::-webkit-scrollbar
{
    width: 0.4rem;
}

::-webkit-scrollbar-thumb
{
    background: ScrollbarColor;
}

::-webkit-scrollbar-thumb:hover
{
    background: ScrollbarHoverColor;
}

::-webkit-scrollbar-track
{
    background: ScrollbarBackgroundColor;
}

// -- CLASSES

MakeExtendedContainer();
MakeMarginedContainer( 1.25rem, 40 * Pxm 5rem 7.5rem 10rem 12.5rem, min-width-40em min-width-60em min-width-80em min-width-100em min-width-120em, "large-" );
MakeMarginedContainer( 1.25rem, 5rem 7.5rem 10rem 12.5rem 240 * Pxm, min-width-40em min-width-60em min-width-80em min-width-100em min-width-120em, "narrow-" );
MakePaddedContainer( 1.25rem, 2.5rem 5rem 7.5rem 10rem 12.5rem, min-width-40em min-width-60em min-width-80em min-width-100em min-width-120em, "large-" );
MakePaddedContainer( 1.25rem, 5rem 7.5rem 10rem 12.5rem 240 * Pxm, min-width-40em min-width-60em min-width-80em min-width-100em min-width-120em, "narrow-" );
MakeMarginLeftAuto( , , "\!", !important );
MakeMarginRightAuto( , , "\!", !important );

SetRootFontSize( 1rem, 1.1rem 1.2rem 1.3rem 1.4rem, min-width-90em min-width-100em min-width-110em min-width-120em );

// ~~

.is-hidden
{
    display: none !important;
}

.button
{
    cursor: pointer;
}

.scaled-button
{
    cursor: pointer;
    transition: transform 0.25s ease;
}

.scaled-button:hover
{
    transform: scale( 1.1 );
}

.paragraph + .paragraph
{
    margin-top: 0.5em;
}

.title-1
{
    font-size: 2rem;
}

.title-2
{
    font-size: 1.75rem;
}

.title-3
{
    font-size: 1.5rem;
}

.title-4
{
    font-size: 1.25rem;
}

.dash-1
{
    margin-left: 1em;
}

.dash-2
{
    margin-left: 2em;
}

.dash-3
{
    margin-left: 3em;
}

.dash-4
{
    margin-left: 4em;
}

.dash-1::before,
.dash-2::before,
.dash-3::before,
.dash-4::before
{
    position: absolute;
    transform: translateX( -0.9em );

    content: "-";
}

.bullet-1
{
    margin-left: 1em;
}

.bullet-2
{
    margin-left: 2em;
}

.bullet-3
{
    margin-left: 3em;
}

.bullet-4
{
    margin-left: 4em;
}

.bullet-1::before,
.bullet-2::before,
.bullet-3::before,
.bullet-4::before
{
    position: absolute;
    transform: translateX( -0.9em );

    content: "\2022";
}
