.contact-map-container
{
    height: 50vh;
    width: 100%;
}

.contact-map
{
    height: 100%;
    width: 100%;
}

.contact-map .leaflet-bar,
.contact-map .leaflet-bar *
{
    border-radius: 0 !important;
}
