.cookie-consent-banner-block-container
{
    z-index: 1000;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 20rem;
    font-size: 1rem;
    color: black;
    background-color: white;
    box-shadow: 0 5px 10px rgba( 128, 128, 128, 0.5 );
}

.cookie-consent-banner-block-container.hidden
{
    display: none;
}

.cookie-consent-banner-block-container a,
.cookie-consent-banner-block-container a:visited
{
    color: #444444;
    text-decoration: underline;
}

.cookie-consent-banner-block-text
{
    color: #444444;
    text-align: center;
}

.cookie-consent-banner-block-button-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.cookie-consent-banner-block-button
{
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 15px;
    color: white;
    cursor: pointer;
    transition: all 0.25s ease;
}

.cookie-consent-banner-block-button:hover
{
    transform: scale( 1.05 );
}

.cookie-consent-banner-block-accept-button
{
    background-color: #FF0000;
}

.cookie-consent-banner-block-decline-button
{
    background-color: #CCCCCC;
}
