.cookie-consent-banner-container
{
    z-index: 1000;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    max-width: 20rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
    box-shadow: 0 5px 10px rgba( 128, 128, 128, 0.5 );

    font-size: 1rem;
    color: black;
}

.cookie-consent-banner-container.hidden
{
    display: none;
}

.cookie-consent-banner-container a,
.cookie-consent-banner-container a:visited
{
    color: DarkerGrayColor;
    text-decoration: underline;
}

.cookie-consent-banner-text
{
    color: DarkerGrayColor;
    text-align: center;
}

.cookie-consent-banner-button-container
{
    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cookie-consent-banner-button
{
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 15px;

    color: white;

    cursor: pointer;
    transition: all 0.25s ease;
}

.cookie-consent-banner-button:hover
{
    transform: scale( 1.05 );
}

.cookie-consent-banner-accept-button
{
    background-color: RedColor;
}

.cookie-consent-banner-decline-button
{
    background-color: LightGrayColor;
}
