.cookie-consent-banner-container
{
    z-index: 1000;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    margin-left: auto;
    margin-right: auto;
    max-width: @css{ min( 30rem, 100vw - 2rem ) };
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 1.25rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    background-color: WhiteColor;
    box-shadow: 0 0.25rem 0.5rem rgba( 128, 128, 128, 0.5 );

    font-size: 0.9rem;
    color: BlackColor;
}

.cookie-consent-banner-container a,
.cookie-consent-banner-container a:visited
{
    text-decoration: underline;
    color: GrayColor200;
}

.cookie-consent-banner-text
{
    color: GrayColor200;
}

.cookie-consent-banner-link
{
    color: GrayColor200;
}

.cookie-consent-banner-button-container
{
    margin-top: 0.5rem;

    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.cookie-consent-banner-button
{
    border-radius: 0.25rem;
    padding: 0.25rem 1rem;

    color: WhiteColor;

    cursor: pointer;

    transition: background-color 0.25s ease;
}

.cookie-consent-banner-settings-button
{
    border: 1px solid GrayColor700;

    background-color: GrayColor950;

    color: GrayColor;
}

.cookie-consent-banner-settings-button:hover
{
    background-color: WhiteColor;
}

.cookie-consent-banner-accept-button,
.cookie-consent-banner-decline-button
{
    background-color: BlueColor400;
}

.cookie-consent-banner-accept-button:hover,
.cookie-consent-banner-decline-button:hover
{
    background-color: BlueColor;
}
