.cookie-consent-banner-container
{
    z-index: 1000;
    position: fixed;
    bottom: 0;
    left: 0;

    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 20rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 1.25rem;

    display: flex;
    flex-direction: column;

    background-color: WhiteColor;
    box-shadow: 0 0.25rem 0.5rem rgba( 128, 128, 128, 0.5 );

    font-size: 0.9rem;
    color: BlackColor;
}

.cookie-consent-banner-container a,
.cookie-consent-banner-container a:visited
{
    text-decoration: underline;
    color: GrayColor200;
}

.cookie-consent-banner-text
{
    color: GrayColor200;
}

.cookie-consent-banner-button-list
{
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.cookie-consent-banner-button
{
    border-radius: 0.25rem;
    padding: 0.25rem 1rem;

    text-align: center;
    color: WhiteColor;

    cursor: pointer;
    transition: background-color 0.25s ease;
}

.cookie-consent-banner-cookies-settings-button
{
    border: 1px solid GrayColor700;

    background-color: GrayColor950;

    color: GrayColor;
}

.cookie-consent-banner-cookies-settings-button:hover
{
    background-color: WhiteColor;
}

.cookie-consent-banner-accept-cookies-button,
.cookie-consent-banner-reject-cookies-button
{
    background-color: BlueColor400;
}

.cookie-consent-banner-accept-cookies-button:hover,
.cookie-consent-banner-reject-cookies-button:hover
{
    background-color: BlueColor;
}
