MakeCarousel( "department-", "-block" );
MakeCarouselStrip( 1, 1, "department-", "-block" );

// ~~

.department-carousel-block-strip
{
    height: 100vh;
}

.department-carousel-block-slide
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-position: center center;
    background-size: cover;
}

.department-carousel-block-slide-text
{
    max-width: 40rem;
    font-size: 2rem;
    color: white;
}

.department-carousel-block-arrow
{
    font-size: 4rem;
    color: white;
    cursor: pointer;
}

.department-carousel-block-left-arrow
{
    position: absolute;
    top: 50%;
    left: 4rem;
    transform: translateY( -50% );
}

.department-carousel-block-right-arrow
{
    position: absolute;
    top: 50%;
    right: 4rem;
    transform: translateY( -50% );
}
