.header-menu
{
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 8px;
    display: flex;
    align-items: center;
    background-color: rgba( 255, 255, 255, 0.4 );
}

.header-menu-button
{
    border-radius: 8px;
    margin-right: 8px;
    padding: 5px 10px;
    background-color: #444444;
    color: #FFFFFF;
    cursor: pointer;
}

.header-menu-button:hover,
.header-menu-button.selected
{
    background-color: #CCCCCC;
    color: #000000;
}
