.header-menu
{
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    padding-left: var( --page-padding );
    padding-right: var( --page-padding );

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: GrayColor700;

    transition: background-color 0.25s ease;
}

.header-menu *
{
    outline: 1px solid red;
}

body.is-scrolled .header-menu:not(.is-open)
{
    background-color: rgba( 0, 0, 0, 0.3 );
}

.header-menu-button-container
{
    height: 100%;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;

    display: flex;
    justify-content: start;
    align-items: center;
}

.header-menu-button
{
    font-size: 1rem;
    color: WhiteColor;

    cursor: pointer;
}

.header-menu-button:hover
{
    text-decoration: underline;
}

.header-menu-button.is-selected,
.header-menu-button.is-used
{
    font-weight: 700;
}

.header-menu-button + .header-menu-button
{
    margin-left: 1rem;
}

.header-menu-button-icon
{
    height: 1rem;
    width: 1rem;

    transition: transform 0.25s ease;
}

.header-menu-button:hover .header-menu-button-icon
{
    transform: scale( 1.1 );
}

.header-menu-icon-button
{
    height: 2rem;
    width: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.header-menu-icon-button + .header-menu-icon-button
{
    margin-left: 1rem;
}

.header-menu-desktop-button
{
    +Media( max-width-45em )
    {
        display: none;
    }
}

.header-menu-open-button
{
    margin-left: 1rem;

    +Media( min-width-45em )
    {
        display: none;
    }
}

.header-menu-open-button-icon
{
    background: url( "/static/image/base/white_menu_icon.svg" ) no-repeat center center / contain;
}

.header-menu-modal-container
{
    position: fixed;
    top: 0;
    left: 0;

    height: 100dvh;
    width: 100lvw;

    display: none;

    background-color: transparent;
}

.header-menu.is-open .header-menu-modal-container
{
    +Media( max-width-45em )
    {
        display: block;
    }
}

.header-menu-modal
{
    position: fixed;
    top: 0;
    right: 0;

    overflow-y: auto;
    height: 100dvh;
    width: 50lvw;

    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: GrayColor;
}

.header-menu-modal-content
{
    height: 100%;
    padding: 5rem ContentDoublePadding ContentDoublePadding ContentDoublePadding;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.header-menu-modal-button
{
    padding: 1rem var( --content-padding );

    font-size: 1.2rem;
    color: WhiteColor;

    cursor: pointer;
    transition: background-color 0.25s ease;
}

.header-menu-modal-button:hover
{
    background-color: GrayColor900;

    color: BlackColor;
}

.header-menu-close-button
{
    position: absolute;
    top: 1rem;
    right: var( --content-padding );

    cursor: pointer;
}

.header-menu-close-button-icon
{
    background: url( "/static/image/base/white_close_icon.svg" ) no-repeat center center / contain;
}
