.loader-page
{
    --progress: 0;

    z-index: 10000;
    position: fixed;

    overflow: hidden;
    height: 100dvh;
    width: 100%;

    background: BlueColor800;
}

@keyframes loader-page-disappearing-animation
{
    0%
    {
        transform: translateY( 0 );
    }

    100%
    {
        transform: translateY( -100dvh );
    }
}

body.is-appearing .loader-page
{
    animation: loader-page-disappearing-animation 1s forwards;
}

.loader-page-panel
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    overflow: hidden;
}

.loader-page-initial-panel
{
    bottom: var( --progress );

    background-color: BlueColor800;
}

.loader-page-final-panel
{
    bottom: 0;

    background-color: WhiteColor;
}

.loader-page-logo
{
    position: absolute;
    top: 50dvh;
    left: 50lvw;
    transform: translateX( -50% ) translateY( -50% );

    height: 25rem;
    width: 25rem;
}

.loader-page-initial-logo
{
    background: url("/static/image/loader/initial_logo.svg") no-repeat center center / contain;
}

.loader-page-final-logo
{
    background: url("/static/image/loader/final_logo.svg") no-repeat center center / contain;
}
