.page-heading
{
    position: relative;

    margin-bottom: 2rem;
    min-height: 100vh;
    padding: 6rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: WhiteColor;

    +Media( min-width-65em )
    {
        padding: 4rem;
    }
}

.page-heading-title
{
    font-size: 2rem;
}

.page-heading-text
{
    margin-top: 1rem;

    font-size: 1.5rem;
}
