.scroll-top-button
{
    z-index: 999;
    position: fixed;
    bottom: 10 * Pxm;
    right: 10 * Pxm;

    overflow: visible;
    height: 50 * Pxm;
    width: 20 * Pxm;

    opacity: 1;
    background: url( "/static/image/base/scroll_top_icon.svg" ) no-repeat center center / contain;

    cursor: pointer;
    transition: opacity 0.25s ease;
}

body:not( .is-scrolled ) .scroll-top-button
{
    opacity: 0;

    pointer-events: none;
}
