.scroll-button
{
    z-index: 999;
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;

    overflow: visible;
    height: 3rem;
    width: 1.25rem;

    opacity: 1;
    background: url( "/static/image/base/scroll-button-icon.svg" ) no-repeat center center / contain;

    cursor: pointer;
    transition: opacity 0.25s ease;
}

.scroll-button:not(.is-scrolled)
{
    opacity: 0;

    pointer-events: none;
}
