@import "font.styl";
@import "show_base_view.styl"
@import "show_home_view.styl";
@import "header_menu_block.styl";
@import "footer_menu_block.styl";
@import "cookie_consent_banner_block.styl";
@import "department_carousel_block.styl";
@import "add_contact_form_block.styl";

// ~~

.invalid
{
    outline: red solid 1px;
}
