.text-and-video
{
    display: grid;
}

.text-and-video.video-side-left
{
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: \
        "video" \
        "text";

    +Media( min-width-65em )
    {
        grid-template-rows: 1fr;
        grid-template-columns: 55% 45%;
        grid-template-areas: \
            "video text";
    }
}

.text-and-video.video-side-right
{
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: \
        "text" \
        "video";

    +Media( min-width-65em )
    {
        grid-template-rows: 1fr;
        grid-template-columns: 45% 55%;
        grid-template-areas: \
            "text video";
    }
}

.text-and-video-text
{
    padding: var( --block-padding );

    display: flex;
    flex-direction: column;
    grid-area: text;
    justify-content: center;
    align-items: start;

    color: BlackColor;
}

.text-and-video-video
{
    height: 100%;

    grid-area: video;
}

.text-and-video-video-image
{
    position: relative;

    min-height: 100%;
}

.text-and-video-video-video
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    height: 100%;
    width: 100%;

    object-fit: cover;
}
