.text
{
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    color: BlackColor;

    +Media( min-width-65em )
    {
        padding: 5rem;
    }
}
